[2019-12-07 11:06] jghub commented on #1445
@siteshwar
_please_ monitor what is going on here (see the above abstruse claims regarding what `command name` should do and what not in kraders world) and don't let ksh be further messed up beyond repair or, since this has very probably already happened (at the very very least performance-wise) revert to a sane stable state. maintain new build system, maybe.

but it is totally obvious that the ov

[2019-12-07 11:19] jghub commented on #1445
@krader1961

you are not fixing bugs. you are breaking backward compatibility regarding behaviour of `cd -` if I understand the above correctly. factually you are plain wrong. why and how people rely on the defined behaviour  should be none of your concern. your "aesthetic" judgement is irrelevant.

you break backward compatibility on purpose for now reason. this is not good engineering. this is v

[2019-12-07 17:11] jelmd commented on #1445
Exactly. Since krader1961 got access  to this repo by mistake ~2 years ago, he has demonstrated several times, that he seems to know C and some tooling around it, but has neither a clue about the language itself (i.e. ksh93) nor its user base nor the "frameworks" ksh93 uses.  The work and comments seen so far imply that he doesn't even know ksh93 basics (still, after 2 years!). So no wonder, why o

[2019-12-07 17:13] jghub commented on #1445
@krader1961

no, you haven't...

how about: this stuff is an exercise (and by *no* means an integral part of ksh93) from the appendix of the KornShell book for the reader/user to study and, _possibly_  try out?

how about: they didn't _want_ `command cd` to pick up overruled `cd` behaviour because they were sane people and had a real understanding of what the shell should do and what it should avo

[2019-12-07 17:44] jghub commented on #1445
@jelmd

thanks for this support/feedback. I, of course, completely agree. and  I wonder who made that mistake and why the situation is not reviewed to revoke his commit access? the man is very obviously not up to the task of maintaining ksh. the harmful thing here is not what he does to his private copy of the ast sources but that this disaster unfolds under the official umbrella of the ast/att pr

[2019-12-09 08:08] siteshwar commented on #1445
Let's compare the behavior of different shells when `cd` is aliased:

bash:
[code]

zsh:
[code]

ksh:

[code]

As I understand both `bash` and `zsh` do not execute `_cd` alias when `command` is used.

@krader1961 Have you checked why ksh behaves differently than other shells ? Quoting [command](https://pubs.opengroup.org/onlinepubs/009695399/utilities/command.html) from POSIX specification:

[code

[2019-12-09 08:35] siteshwar commented on #1450
It did not depend on bash emulation being enabled.

@jghub This was previously discussed in #417 and it was reverted by me through [this commit](https://github.com/att/ast/commit/fffe1d92b6c2d0038b844ca5806a5d0421302779). Unfortunately some traces of it are still left in documentation. We had decided to disable some features that were enabled in `ksh93v-` release as they were broken and not proper

[2019-12-09 08:43] #1450 closed

[2019-12-09 08:46] jghub commented on #1445
@siteshwar:

please read through the lower part of https://github.com/att/ast/issues/1445#issuecomment-562838000 -- notably the section labeld EDIT2 -- where i have explained to krader the reason for the differences between the shells. than explain it  to him again if you are able to make him listen.

it is *NOT A BUG* of ksh. it is doing what it explains in his manpage....

and _then_ prevent him

[2019-12-09 08:54] siteshwar commented on #1441
@cschuber Kurtis's comment was about forking this repository on GitHub and not as a project.

[2019-12-09 09:00] jghub commented on #1445
@siteshwar:

see previous post: you easily *can* change the behaviour of `command` by deleting the pre-defined `command` alias (`command = 'command '`). but Korn explicitly warned *against* doing this for obvious reasons: it completely would alter so far established behaviour of ksh at this point (which  is simply different from what bash is doing _by default_).  for the sake of backward compatibi

[2019-12-09 09:04] jghub commented on #1450
@siteshwar
understood. I know that the feature was broken in ksh93v-. but fixing it would be the better solution, obviously... in any case if it is removed the manpage must be adjusted. has this now been done?

[2019-12-09 09:06] siteshwar commented on #1450
I have removed description of `^` and `,` operators through https://github.com/att/ast/commit/ca8c7e6d881aedb060a3ddba69ab185f59107020

[2019-12-10 18:53] cschuber commented on #1441
On December 9, 2019 12:54:40 AM PST, Siteshwar Vashisht <notifications@github.com> wrote:

My comment was suggesting you fork the repo. I will create another FreeBSD port to track it.

--
Pardon the typos and autocorrect, small keyboard in use.
Cy Schubert <Cy.Schubert@cschubert.com>
FreeBSD UNIX: <cy@FreeBSD.org> Web: https://www.FreeBSD.org

The need of the many outweighs the greed of the few.

[2019-12-18 18:31] DoktorCranium opened #1451 "Building on NetBSD 9 arm64 error"
ninja -C build
ninja: Entering directory `build'
[0/195] Compiling C object 'src/lib/libast/tests/misc/258ceee@@optget_long@exe/optget_long.c[1/195] Compiling C object 'src/lib/libast/tests/misc/258ceee@@optget_long@exe/optget_long.c.o'.
FAILED: src/lib/libast/tests/misc/258ceee@@optget_long@exe/optget_long.c.o
cc -Isrc/lib/libast/tests/misc/258ceee@@optget_long@exe -Isrc/lib/libast/tests/misc -I.

[2019-12-19 02:51] krader1961 commented on #1451
Does NetBSD not provide a `getopt_long_only()` function? Does using it require including a header other than `<getopt.h>` or defining a preprocessor symbol? This builds and runs fine on FreeBSD and OpenBSD. I found this [bug report](http://gnats.netbsd.org/48320) which implies that function isn't available on NetBSD but that bug report is six years old. If it still isn't available it is trivial to

[2019-12-19 03:20] #1451 closed

[2019-12-20 10:57] DoktorCranium commented on #1451
Sorry for getting back late .. This is what I dug up about getop_long_only()
     The getopt_long() and getopt_long_only() functions	first appeared in the
     GNU libiberty library.  The first BSD implementation of getopt_long() ap-
     peared in NetBSD 1.5, the first BSD implementation of getopt_long_only()
     in OpenBSD 3.3.  FreeBSD first included getopt_long() in FreeBSD 5.0,
     getopt_l

[2019-12-21 16:21] McDutchie opened #1452 "EXIT traps don't work in forked subshells"
**Description of problem:**
When a subshell forks (see #480 for discussion), EXIT traps do not work.

**Ksh version:**
* The "stable" release Version A 2020.0.0
* current git: 2020.0.0-beta1-190-gc6757a29

**How reproducible:**
Always

**Steps to reproduce:**
Test script:
[code]

**Actual results:**
Only "EXIT trap 1 okay'" is printed.

**Expected results:**
Both "EXIT trap 1 okay'" and "EXIT trap

[2019-12-22 03:51] krader1961 commented on #1452
Note that this change in behavior is present in the ksh93v- release on macOS and thus was not introduced in the past two years as we've worked to modernize the ksh source code to keep it a viable shell. This "bug" is also present using the official ksh93u+ binary (*/usr/bin/ksh*, */bin/ksh* or */bin/ksh93*) on OpenSuse 42 but not macOS Catalina or the other Linux VMs I have setup. Which means that

[2019-12-22 04:05] krader1961 commented on #1452
Also, the ksh93v- and 2020.0.0 release works as expected on macOS if the script is

[code]

So something about how the `ulimit` builtin is handled is broken with respect to subshells. Which doesn't surprise me in the least.

[2019-12-22 13:05] McDutchie commented on #1452
No, you're not getting it. Invoking `/usr/bin/true` doesn't cause the subshell itself to fork (i.e.: doesn't cause the subshell itself to become a separate process), it only forks a dummy process. The `ulimit` builtin *does* cause the subshell itself to fork, by calling `sh_subfork()`. See https://github.com/att/ast/issues/480#issuecomment-384465776 and the preceding comment.

The issue is that `E

[2019-12-25 02:37] hyenias opened #1453 "Need help with initial meson test"
**Description of problem:**
After going through all the instructions I could find on the site, some test cases have either failed or been skipped. meson-logs/testlog-malloc.txt indicates that various programs along its path cannot be found.

**Ksh version:**
GNU/Linux x86_64 Ubuntu 18.04
2020.0.0-beta1-192-g0d76ee4b

**How reproducible:**
Run meson  with --prefix ~/kshdev and meson test.

**Steps

[2019-12-25 02:49] krader1961 commented on #1453
That's a great first issue. Thanks for contributing. Those errors should not occur. Are you perhaps running this in a chroot or other sandboxed environment? The fact the unit test harness can't find essential commands like `diff`, `mkfifo` and `mkdir` in `$PATH` should cause many more failures than you reported. Note that we've been building and testing on multiple Linux, BSD, Cygwin, and other pl

[2019-12-25 03:23] krader1961 commented on #1453
FWIW, Skipping some tests is expected due to deficiencies of specific platforms. For example, not having a */proc* pseudo-filesystem. Those deficiencies either mean the unit test itself cannot run successfully or the behavior of the ksh binary depends on features that the platform does not provide. If any skipped tests should have been run, @hyenias, because your platform supports the necessary fe

[2019-12-25 03:29] hyenias commented on #1453
Bare metal, booted up an old PC x86_64 and installed Linux Mint 19.3 on it. Some of the required tooling was not available as packages on my ARM single board computers. Just a few hours ago, I successfully ran the TravisCI and all tests/builds past. :) Then, I moved to creating a local test environment.

Within the testlog-malloc.txt file, the first test that has an issue is 123/293 API/ksh/ksh_de

[2019-12-25 03:44] krader1961 commented on #1453
That is not surprising. The API tests (excluding the *API/ksh/* tests) do not depend on the ksh scripting language. That the non-API ksh scripting tests fail with errors such as `cat` and `rm` not found tells me you either

1) don't have those programs installed (which is unlikely), or

2) there is something unusual about your test environment. For example, on my Ubuntu server `cat` is */bin/cat*

[2019-12-25 03:49] krader1961 commented on #1453
@hyenias  You wrote

Are you trying to cross-compile? That isn't something we have spent a single second thinking about. So if that is what you are trying to do I am not surprised it results in failures.

[2019-12-25 03:57] hyenias commented on #1453
Programs do exist:
$ whence mkfifo cat chmod rm diff mkdir
/usr/bin/mkfifo
/bin/cat
/bin/chmod
/bin/rm
/usr/bin/diff
/bin/mkdir
$
No, I am not trying to cross-compile. I am new to all of this and do not currently possess those skills. My plans are to load up and compile ksh on each SBC.

I am just learning and attempting for the first time to contribute to an open source project that I believe in.

[2019-12-25 04:15] hyenias commented on #1453
FYI, I just spot checked other tests down the line that passed but had the not founds in them and after running them singularly no issues were noted in the log files.

[2019-12-25 04:19] hyenias commented on #1453
$ which addr2line
/usr/bin/addr2line
$

[2019-12-25 04:40] hyenias commented on #1453
I just repeated my above steps on one of my ARM boxes running Ubuntu 18.04 and the log file has the same not founds in them. However, on this system it has an additional failure at:
20/293 API/misc/debug                          FAIL     0.29 s
OK:       276
FAIL:       2
SKIP:      15
TIMEOUT:    0

Starting at the "123/293 API/ksh/ksh_debug FAIL 0.30 s" part of the log file and below the not fou

[2019-12-25 22:45] krader1961 commented on #1453
Is it x86_64 or ARM? I get the sense you're trying to build ksh on both architectures and having problems on both. In which case I'd like to suggest focusing on one of them, preferably x86_64, until you have a clean build and all tests pass. Then we can deal with other architectures.

Please attach the entire *build/meson-logs/testlog.txt* log file to this issue. It's not that I don't believe you

[2019-12-25 23:14] hyenias commented on #1453
After review of my notes and history log, I made some mistakes in the information I provided yesterday. I actually ended up editing two separate files with the _set -x_ command at the top. With all the new, flipping back-and-forth from web browser and command prompts, as well as paging through 120k lines of a log file; I focused on the wrong run_test.sh file. My mind no longer possessed the awaren

[2019-12-25 23:27] hyenias commented on #1453
krader1961, I did not notice your updated comment within my web browser. I had been editing my comment for quite some time.
Yes, my old PC is an x86_64 and do plan on focusing with that. Yes, I repeated my outlined steps on other boxes/platforms.
You are right. I have never run a "ninja install" command. However, the b_typeset.sh test passes.
I confirm your 4 decades of experience as I am human an

[2019-12-26 01:55] krader1961 commented on #1453
It appears that enabling malloc debugging causes your platform to unset, or otherwise mangle, `$PATH`. Nothing in meson or the ksh test framework would cause what you observed. Similarly, nothing in this project would cause your oclint bin directory to be removed from `$PATH` for a non-debug malloc test run. Which suggests that something in the configuration of your */bin/sh*, */bin/bash*, or what

[2019-12-26 01:57] krader1961 commented on #1453
Also, again, please attach the files in the *build/meson-logs/* directory. We know what those logs should contain and can examine them for unexpected content much more easily than someone new to the project :smile:

[2019-12-26 03:28] krader1961 commented on #1453
@hyenias Does https://github.com/krader1961/ast/commit/8faaac480e8a9733a50c08ae972a3cc9b9797d96, without your edits to the test scripts, fix this issue?

[2019-12-26 20:21] hyenias commented on #1453
I had to do some research on the various shells and then investigate them. Currently, my default login shell is set to bash. I knew about the /etc/environment file that only contains the default path for my system; in the past, I had removed /usr/games:/usr/local/games from it.

As for your interactive shell influencing the mangling of the PATH environment variable train-of-thought, I decided to c

[2019-12-26 21:26] hyenias commented on #1453
Here the files.
[meson-logs.zip](https://github.com/att/ast/files/4003486/meson-logs.zip)

[2019-12-26 23:57] hyenias commented on #1453
Yes, your commit 071352e from your ast fork at krader1961 on github under the **empty-path** branch worked for the malloc tests.  As before starting at the API/ksh/ksh_debug test, the path was empty/unset and your additions provided a minimal path.
[code]

[2019-12-27 04:24] #1453 closed

[2019-12-27 04:30] krader1961 commented on #1453
@hyenias I'd still like to know why your ksh test environment does not have a `$PATH` env var but, since your situation appears to be extremely atypical, I'm not willing to spend more time debugging this issue.

[2019-12-27 13:38] hyenias commented on #1453
@krader1961 Thank you for all of the hard work and time spent towards attempting to resolve this issue I opened up. As a new github user and with a different level of willingness to help the project, I was taken back to find my issue closed. From my viewpoint, by having my issue closed; it hides away an unresolved problem from others in the community that might wish to assist in resolving this iss

[2019-12-28 02:14] krader1961 commented on #1453
@hyenias The logs show, indirectly, that `$PATH` is set to the empty string. The *ksh* program, and libast, actually has a workaround for `$PATH` being unset:

https://github.com/att/ast/blob/2950ede6d6494994332a160bbc781139f7a0a50d/src/cmd/ksh93/data/msg.c#L163

https://github.com/att/ast/blob/2950ede6d6494994332a160bbc781139f7a0a50d/src/lib/libast/path/pathbin.c#L36

However, that existing worka

[2019-12-28 14:51] hyenias commented on #1453
Nice reply! Nothing but gold. Thank you so much for educating me on the insights gained from my logs and more. Especially, I now know why the two **run_test.sh**'s differed. That narrows the possibilities. Excellent, work.

I am glad that this issue has brought some light on the unit tests not failing when they were not even run. To me this is huge problem as tests should fail if they do not work

[2019-12-28 21:57] krader1961 commented on #1453
Sure, but consider that is also true every time the unit tests are run in each Travis CI environment. I'm sure I, and anyone else, will be able to reproduce this once we know what it is about your environment that is triggering this behavior. But so far, in the past two years, only you, and no one else, has reported seeing this behavior. Which is a pretty strong indicator there is something unique

[2019-12-28 22:39] hyenias commented on #1441
All, I am willing to attempt to have this repository's description changed to a more streamlined version. However, I do not know exactly what that shorten version should be. Can I get a listing of possible repo description versions? Then, as a group, we rank the responses and finally decide on one. Next, I will attempt to have this repo's description changed.

[2019-12-28 23:59] jghub commented on #1452
just to confirm: this does not work correctly with the starting point of this project (ksh93v-) either. so this, for a change, is indeed  not krader's fault (contrary to getting the performance a factor of 2-3 down (quite a feat!), insisting (and succeeding, so far) to make ksh2020 non-POSIX compliant by changing defined cd behaviour and assorted other tragedies that go on here: "modernize the ksh

[2019-12-30 15:41] jghub commented on #1449
update: as of commit g5abcbd06 (current head) performance of ksh2020 remains down by a factor of 2-3 compared to ksh93u+ and ksh93v- in several critical features like incrementing numeric for and while loops (but other things like braced command substitution or string concatenation also see a slow down by a factor of 1.5-1.7). remarkably, this is now is true again for incrementing while loops as w

[2019-12-30 16:03] jghub commented on #1445
@siteshwar,  I'd appreciate an update (waited 3 weeks for something to happen ;): has there a consensus or decision been reached on your side how to proceed regarding

1.
not to interfere with POSIX defined cd behaviour as defined here https://pubs.opengroup.org/onlinepubs/9699919799/utilities/cd.html. i.e. issuing `cd' by default is guaranteed to exhibit this behaviour and nothing else, w/o side

[2019-12-31 02:15] dannyweldon commented on #1449
To pipe in here, I do remember there being several changes to what looked to me like critical tight loops to simplify the code with I assume the expectation that the compiler would optimise it.  Perhaps these could be investigated and tested with these benchmarks.  And is any compiler optimisation actually happening currently?

[2020-01-04 01:43] krader1961 opened #1454 "bug involving the handling of paths marked PATH_SKIP"
While working on #1445 I was surprised to find that the fix worked on almost all platforms, both my local ones and on Travis CI. One platform where it failed was Ubuntu. After many hours adding strategic `DPRINTF()` calls I found the bug is in `path_opentype()`. Specifically, how it handles path entries tagged `PATH_SKIP` because they do not exist (or can't be stat()'d for some reason) or are dupl

[2020-01-04 01:58] krader1961 commented on #1454
I forgot to mention another curious thing. In the reproduction script if you insert `type -a cd` just before the  `cd` command that "fixes" the problem. Apparently the `type -a` causes a different code path to be executed that correctly loads the function; thus bypassing the bug in `path_opentype()`. This is a great example for why it is so important to boil down a reproduction script to just the

[2020-01-06 23:47] siteshwar commented on #1445
@krader1961 Users have strongly opposed the behavior changes you have made by introducing `cd` alias. Therefore, I am requesting you to revert these changes and avoid any backward incompatible changes in future. I would like to put new ksh in RHEL and such changes will create problems for downstream maintainers to keep new ksh usable to existing users.

[2020-01-08 20:39] jghub commented on #1445
@siteshwar:
I second your above post, obviously, and really appreciate that you speak out now more clearly. thank you.

I just want to add that the cd alias is only the proximal problem that triggered this whole issue. but the underlying problem is the unaltered intent (by krader) to change default cd behaviour somehow no matter what. in principle he can achieve that by different routes (using a s

[2020-01-10 04:09] #1454 closed

[2020-01-14 01:22] ryandesign opened #1456 "-Dfallback-version-number doesn't affect output of ksh --version"
**Description of problem:**

The output of `ksh --version` is not affected by the value of `-Dfallback-version-number` set at build time; I had expected that it would be. (Is that expectation wrong?)

**Ksh version:**
Latest git master as of now (031d73aa4a672858716979f5f697e10ce8b6729e)

**How reproducible:**
Always

**Steps to reproduce:**
1. Specify `-Dfallback-version-number=something` while r

[2020-01-14 01:46] ryandesign commented on #1443
To make sure it's understood: we are offering that in our ksh-devel port for users who wish to track your development more closely. Normal users should use the ksh port which contains your latest stable release.

For several reasons, MacPorts does not clone a git repository; it downloads and extracts a tarball that was automatically generated by GitHub. Hence the git command cannot be used to obta

[2020-01-14 02:19] krader1961 commented on #1456
As the name implies that is the fallback value and will only be used if meson can't figure out the correct version. Which means that either there is no `git` command available or the *.git* directory isn't present.

Also, please note you can't assign an entirely arbitrary string; i.e., the literal `something` isn't legal. It has to be a valid semantic version optionally followed by additional info

[2020-01-14 02:22] krader1961 commented on #1456
Also, the `--fallback-version-number` flag is only meant to be used in the context of something like a source tarball/rpm/dpkg where you don't want all the baggage of the Git metadata and don't want to require `git` as a dependency to build `ksh`.

[2020-01-14 02:24] ryandesign commented on #1456
Right, that is the case.

Right, let's assume that's what I'm actually specifying.

Correct.

[2020-01-14 02:30] krader1961 commented on #1443
That's fine. In fact, doing that was part of our thinking about switching from the legacy version strings (e.g., `93u+`) to a semantic version. In the past ksh had two different versions. Which one was used depended on the context. In a string context you got the `93u+` string. In a numeric context you got the date, in YYYYMMDD format, associated with that version. Now we use the same value for bo

[2020-01-14 02:52] krader1961 commented on #1456
@ryandesign Are you saying that `-Dfallback-version-number` doesn't work for you when there isn't any Git metadata? Because it works for me:

[code]

[2020-01-14 02:52] ryandesign commented on #1456
I'm saying that the `$KSH_VERSION` variable is affected by `-Dfallback-version-number`, but the output of `ksh --version` isn't.

[2020-01-14 03:12] krader1961 commented on #1456
This is because the version string written by `ksh --version` is derived from the `sh_optksh_mini` C var. That var used to be populated by the revision control system but is now a hardcoded string (see *./cmd/ksh93/docs/ksh_mini.1*). The `optget()` API handles the `--version` flag by scanning that C var for magic tokens. It's on my TODO list to fix that by eliminating the two remaining uses of `op

[2020-01-14 03:22] krader1961 commented on #1456
Actually, that's now a non-issue. When switching to semantic versioning @siteshwar and myself discussed this extensively. We concluded that replacing something like `93v- 2014-12-24` in the `ksh--version` output with just the semantic version, `2014.12.24`, was fine as that string is really only usable by a human. So replacing the current hardcoded value with the same string as `$KSH_VERSION` is f

[2020-01-14 03:58] krader1961 commented on #1456
Also, notice that the `ksh --version` and `ksh -c 'print $KSH_VERSION'` strings are different where most people would expect them to be identical:

[code]

That difference is a consequence of the output of `ksh --version` being produced by the `optget()` astlib API whereas `print $KSH_VERSION` is produced by ksh specific code. Which is exhibit 666 for why I hate the `optget()` API. My planned repl

[2020-01-15 05:43] #1456 closed

[2020-01-16 03:00] krader1961 commented on #1456
I wonder how many people know that the `--version` flag is supported by nearly every ksh builtin, as a consequence of `optget()` behavior, and what the output means. From a ksh93u+ binary:

[code]

[2020-01-16 05:55] krader1961 opened #1457 "`cd ~-` fails if `$OLDPWD` is undefined"
While removing problematic uses of `getconf LIBPATH` I noticed the *src/cmd/ksh93/tests/exit.sh* unit test contains these lines that I added almost two years ago to get the `cd ~-` test at the end of that unit test to pass:

https://github.com/att/ast/blob/2f06a34e737cb2a0d8c1a052d97924ad27e445e0/src/cmd/ksh93/tests/exit.sh#L32-L34

That workaround is needed on every platform other than macOS. Thi

[2020-01-17 05:43] krader1961 commented on #1456
@ryandesign, I'm wondering if you are now satisfied that `ksh --version` produces the output you expect.

[2020-01-17 14:32] petrpavlu opened #1458 "DEBUG trap is not reset when running a script without a shebang"
**Description of problem:**

When a DEBUG trap is registered in a parent shell and then a child shell is invoked to run a script without a shebang, the DEBUG trap is not reset in the forked shell.

My understanding is that when a subshell is entered, traps should be set to the default actions ([POSIX 2004 reference](https://pubs.opengroup.org/onlinepubs/009695399/utilities/trap.html)).

**Ksh vers

[2020-01-17 23:45] ryandesign commented on #1456
Thank you, yes. Mind you, my expectations are not always to be trusted. I don't use ksh, I'm just the guy who maintains the ksh ports in MacPorts. It was reported to us that a user had installed our ksh-devel port and was then unable to determine which commit of ksh had been installed, so I've been trying to make that easier to see. With this latest update, the output of `port installed ksh-devel`

[2020-01-18 11:00] jghub commented on #1457
you ask why `cd -` an `cd ~-` produce "different failure modes".

answer: because these are two different commands. read the manpage....

NOTE:  the error messages you report are _not_ those reported by ksh93u+ (or of ksh2020, for that matter). what exactly is /bin/ksh in your test?

regarding `cd -` the manpage says:

"If arg is `-`  the  directory  is  changed to the previous directory. "

so th

[2020-01-20 02:44] aweeraman opened #1459 "Unable to get a restricted shell"
**Description of problem:**
Unable to get a restricted shell with 2020.0.0

**Ksh version:**
2020.0.0

**How reproducible:**
Consistently with a fresh build from master with this tree: https://github.com/att/ast/tree/2f06a34e737cb2a0d8c1a052d97924ad27e445e0

**Steps to reproduce:**
meson build
ninja -C build
cd build/src/cmd/ksh93/
ln -s ksh rksh
./rksh
export PATH=/sbin <-- this executes without

[2020-01-20 03:33] krader1961 commented on #1459
Yes, this appears to be broken. But it's also broken in the ksh93v- code from the old AST team we used as a starting point:

[code]

Doing the same thing with the ksh93u+ binary produces the expected error.

[2020-01-20 04:44] krader1961 commented on #1459
Also, there are quite a few unit tests of restricted shell behavior. Why aren't they failing? Is this specific failure mode (i.e., assigning to `PATH`) unique among the restricted behaviors and untested?

[2020-01-20 13:30] aweeraman commented on #1459
Yeah, restricted.sh seems to execute successfully, which was a little strange.

What I just observed was that the restricted.sh uses -c to pass in the command and validate the error:
LC_MESSAGES=C rksh -c "$@" 2> out > /dev/null

and when I do the same, it seems to work:
~/ast/build/src/cmd/ksh93$ ./rksh -c "export PATH=/sbin"
./rksh: PATH: restricted

But not interactively:
~ast/build/src/cmd/ksh

[2020-01-21 03:13] krader1961 commented on #1459
This bug was introduced in the ksh93v- source here:

https://github.com/att/ast/blob/e770c77e9816e156c6df4a455e71b5f9fff79310/src/cmd/ksh93/edit/edit.c#L761-L768

The `sh_isoption(shp,SH_RESTRICTED);` should be `sh_onoption(shp,SH_RESTRICTED);`. None of that manipulation of option `SH_RESTRICTED` exists in the ksh93u+ source. That version of the code unconditionally ran the `sh_trap(".sh.subscript

[2020-01-21 03:28] krader1961 commented on #1459
@aweeraman I'm curious what caused you to notice this bug. Mostly because I would expect use of the restricted shell feature to be rare these days since it doesn't really provide much security.

[2020-01-21 10:55] aweeraman commented on #1459
That explains the issue!

We're including rksh in the Debian binary and I happened to test it and so noticed it while comparing with 93u+20120801.

If you have a patch available, I'd be happy to cherry pick it and push out an update.

[2020-01-22 23:59] aweeraman commented on #1459
Thank you, that works like a charm. Including this patch in the next Debian update.

[2020-01-22 23:59] #1459 closed

[2020-01-23 01:26] krader1961 commented on #1459
@aweeraman Note that the change to the master branch won't apply cleanly to the 2020.0.0 release. If you can't wait for a 2020.0.1 release you should cherry-pick all the fixes in the 2020.0.1 branch; not just the fix for this issue.

[2020-01-23 01:36] aweeraman commented on #1459
@krader1961 do you have any plans of releasing 2020.0.1 anytime soon?

[2020-01-23 02:53] krader1961 commented on #1459
@aweeraman It's been three months since the 2020.0.0 release and we have  fixes for four bugs. Although, only this one is likely to be noticed by an appreciable number of people. I think we should make a 2020.0.1 release soon; certainly no later than three months hence (six months after 2020.0.0 was released). The decision is ultimately up to @siteshwar. He works for Redhat and has far more experi

[2020-01-23 03:43] krader1961 opened #1460 "Use the curses API rather than depend on the `tput` command"
Issue #1459 caused me to notice that this block of code is, at best, confusing:

https://github.com/att/ast/blob/1fd82bddfd36c8d381d4eb75bc1e6b2d4ccb6750/src/cmd/ksh93/edit/edit.c#L454-L464

The problem is that it is assigning to shell var `.sh.subscript` a value having absolutely nothing to do with the documented meaning of that var. The code could have used literally any arbitrary, otherwise ost

[2020-01-23 05:49] jelmd commented on #1459
@aweeraman Note that this is a hijacked repo and neither krader nor siteshwar have obviously any experience in software maintenance as e.g. the intended versioning shows (which they try to sell as semantic versioning). Be very carefully in what [crap] you are adding to debian. krader1961 does not even know ksh93 - IMHO he is just a C hacker, who has too much time ...

[2020-01-24 15:42] jghub commented on #1405
because people might want to write and parse(!) log files in their workflows and do not want to be plagued by escape sequences inserted for switching colors and emphasis? ksh does not need a candy store approach.  it would be (another) step into a wrong direction.

[2020-01-24 15:58] jghub commented on #1460
and you believe Korn (or whoever) used that var `/sh.subscript`  not intentionally? or that he did it intentionally, but had no reason for doing so except being too lazy to define another variable? go figure...

if something is "gross" around here, it is not the ksh93 code base but your careless/clueless approach. looking forward to the next regression introduced by this.

[2020-01-25 02:18] krader1961 commented on #1417
I meant to close this last year. Clearly, we need something like `fallback-version-number`. I only wish we had named it `version-string` and always used its value if the option was used rather than only if `git describe` failed. Oh well.

[2020-01-25 02:18] #1417 closed

[2020-01-25 03:52] krader1961 commented on #1460
Notice also that the code only runs `tput` to determine the correct value for the `CURSOR_UP` string but not the `KILL_LINE` string. You can't have it both ways. Either the code is terminal agnostic or it assumes VT100/ANSI X3.64 semantics. The current implementation does both which is inconsistent. This is okay in practice because most people are using ANSI X3.64 compatible terminals. However, ev

[2020-01-25 04:07] dannyweldon commented on #1405
@jghub Whilst I agree with you, most utilities that have color highlighting only display it when writing to a console, unless there is a switch to force it.  eg. for gnu `ls`:

[code]

I personally use a little trap for my interactive shell only that echos something like "Exit: 1" in red if a command fails:

`trap -- $'print "\E[31mExit: $?\E(B\E[m"' ERR`

This helps me to notice the error and wha

[2020-01-25 04:36] krader1961 commented on #1405
@dannyweldon FWIW, I meant for error messages to be styled only if written to an interactive stderr stream. Error messages written to a file should be plain text.  Sadly, he who must not be named, has decided to interpret all my proposed changes as uncharitably as possible. They seem to think I'm an idiot rather than a senior software engineer (formerly at Google) who has been dealing with such is

[2020-01-25 11:42] jghub commented on #1405
@dannyweldon:
as with many things, tastes differ. if colorizing were done like by the gnu tools (grep, ls etc including intelligent redirection w/o color) and the default were "OFF":  fine with me. I mostly don't want/like it. I definitely find the behaviour of fish in this respect (that's what krader has in mind, quite obviously) totally distracting/annoying.

but the assessment by krader that th

[2020-01-26 00:15] aweeraman opened #1461 "Tab completion error when expanding ${.sh}"
**Description of problem:**
Error during tab completion when attempting to expand ${.sh}

**Ksh version:**
2020.0.0

**Steps to reproduce:**
1. print ${.sh<TAB>

**Actual results:**
ksh: line 1: ${!.sh$@: bad substitution

**Expected results:**
print ${.sh.
 1) .sh.edchar                                                    14) .sh.stats.globs
 2) .sh.edcol

[2020-01-26 02:21] krader1961 commented on #1461
This works in ksh93u+ but is broken in ksh93v-. Example #666 why I wish we had started with the ksh93u+ branch.

[2020-01-26 10:21] jghub commented on #1461
@aweeraman:
it is also example # 666 why ksh2020 would not be  a good choice for the default ksh in any distro (let alone a replacement of ksh93 altogether). ksh93u+ remains the only viable choice for this, both, because of superior performance and also because of being better behaved/ less buggy. at least if you assign more importance to absence of bugs like the one you report here than to reduce

[2020-01-26 21:16] aweeraman commented on #1461
@jghub I'm working towards getting ksh93u+ added to the Debian archive as well and support for the co-existence of the two shells so that users can make the choice. Will update this thread as we make progress on that.

[2020-01-27 08:31] kdudka commented on #1445
The commit message says:

Seriously, the `cd` command is not something that users of ksh like to experiment with.  Please revert both the commits (the one that introduced this regression and the one that experiments even further).

[2020-01-27 08:40] jghub commented on #1445
@siteshwar: this is not a solution fo this issues basic request, so reopen it, please: to not touch and modify default(!) builtin cd behaviour in any way. my understanding is that krader now uses a cd function rather than an alias to overrule builtin cd (not by his own work code but by the 25+ years old exercises from the bolsky/korn book which Korn obviously in the following 20 years never dreamt

[2020-01-27 12:20] dannyweldon commented on #1445
I have been too busy to engage, but I also agree that this is wrong.

What needs to be done instead is for `ksh` package maintainers to include a suitable comprehensive `.kshrc` in `/etc/skel`.  This project could provide a decent example as a suggested starting point.  I'm sure that many subscribed to this repo, myself included, could provide lots of good input on this.

[2020-01-27 15:28] jghub commented on #1461
@aweeraman: I believe this is very good news and the way to go: provide both shells, name the packages unambiguously to avoid confusion between ksh93 and ksh2020 and let the users decide what they want (and what not!). so: thanks for your work. this is really appreciated!

[2020-01-27 15:39] jghub commented on #1452
although implied in the original post, in case this is not completely clear: this is a bug in ksh93v- and in ksh2020. but it works correctly in ksh93u+ -- like many other things that are buggy in ksh2020.

[2020-01-28 15:43] jghub commented on #1449
@dannyweldon, @siteshwar :

FYI information, I did some further benchmarking, also adding one for recursive function calls. result:

[code]
explanation:
* run on OSX
* /bin/ksh is ksh93u+
* ksh2020nms is today's tip of master compiled  w/o `--buildtype=minsize`, ksh2020ms is compiled w/
that flag
* ksh2020rel is the release as provided by Macports for OSX

the following can be concluded

1. ` --bu

[2020-01-28 17:41] ryandesign opened #1462 "error: implicit declaration of function 'ERROR_dictionary' is invalid in C99"
**Description of problem:**

ksh fails to build on Mac OS X 10.6 with clang 9

**Ksh version:**

2020.0.0 and latest master (43d1853)

**How reproducible:**

Always

**Steps to reproduce:**
1. Build ksh on Mac OS X 10.6 with clang 9

**Actual results:**

[code]

[Build log for 2020.0.0](https://build.macports.org/builders/ports-10.6_x86_64-builder/builds/17146/steps/install-port/logs/stdio)
[Build

[2020-01-29 05:21] krader1961 commented on #1462
OS X 10.6 is also known as "Snow Leopard". It was released on 2009-08-28 and the last update was 2011-07-25. From a ksh perspective that OS would be considered a new enough platform to warrant supporting. So we should probably try to support it if feasible.

I have a Snow Leopard VM for VirtualBox but haven't booted it in a couple of years. Fortunately, it isn't necessary to boot up a Snow Leopard

[2020-01-29 05:34] krader1961 commented on #1462
The obvious fix, and the one I'll commit, is to predicate the definition of `ERROR_dictionary` in *ast/src/lib/libdll/dlfcn.c* the same as in the other source modules. That is, if it isn't defined use an identity macro.

[2020-01-29 22:24] ryandesign commented on #1462
I think the relevant difference is that on [10.6](https://build.macports.org/builders/ports-10.6_x86_64-builder/builds/17147/steps/install-port/logs/stdio/text) (and I guess earlier) the meson output says:

[code]

while on [10.7](https://build.macports.org/builders/ports-10.7_x86_64-builder/builds/15930/steps/install-port/logs/stdio/text) and later it says:

[code]

I think this means that on 10.

[2020-01-29 22:31] ryandesign commented on #1462
And meson-log.txt says this is because:

[code]

[2020-01-30 03:39] krader1961 commented on #1462
@ryandesign Thanks for the extra info. Does MacPorts use clang or gcc when building ksh? Which version of the compiler? We currently don't really have much support for old OS releases in our CI environments. So,  I think I'll try and get my OS X Snow Leopard VM up to date and build ksh on it since this seems like a good test of support for an old environment.

[2020-01-30 11:13] ryandesign commented on #1462
We are using clang. On 10.7 and later we get by with the clang that comes with Xcode. The clang that comes with Xcode on 10.6 is very old and only has the C compiler, not the C++ compiler, so on 10.6 we use a copy of clang 9 that was installed with MacPorts.

[2020-01-30 11:18] ryandesign commented on #1462
And this could perhaps explain why it used to work years ago but doesn't now. The default compiler on 10.6 was Apple gcc 4.2.1. It may have allowed things that clang doesn't. The error message mentioned C99 specifically. gcc 4.2.1 defaulted to C89 mode while clang originally defaulted to C99 mode and more recent versions have started defaulting to C11 mode.

[2020-01-30 23:29] krader1961 commented on #1449
I scaled the "braces" micro-benchmark by 50 so it has a meaningful run time on my system. I then ran it five times at the following commit points and picked the best (fastest) user mode CPU time from each run. This is the result:

[code]

Notice the big increase between HEAD~2400 and HEAD~2500. It turns out the increase is due to commit 489c672d to "Replace calls to AST Vmalloc with system malloc"

[2020-01-31 04:00] krader1961 commented on #1449
A preliminary comparison of the execution profile of the two commits shows that `dtclose()` and `dtopen()` are quite a bit slower using the system malloc subsystem compared to the AST malloc subsystem. A lot more analysis will be needed but I'm willing to bet a small amount of money that changing `memoryf()` in *src/lib/libast/cdt/dtnew.c* to use `realloc()` rather than `vmresize()`, and the relat

[2020-01-31 05:02] krader1961 commented on #1449
The `treeevent()` function in *src/lib/libast/cdt/dttree.c* is an order of magnitude slower using the system malloc because it is freeing a lot of very tiny allocations when called from `dtclose()`. Even worse, it's doing so via an indirect `(*dt->memoryf)` call. Which might have been a useful abstraction in the past but is now effectively a constant invocation of `dtmemory()`.

[2020-01-31 10:16] jghub commented on #1449
first of all: I welcome any initiative to finally start looking into the issue on a technical level (instead of dodging the issue and acting silly when faced with criticism). if, in the process (at leat part of) the damage done to the code can be reverted, this would be progress. now to the details (in separate posts to avoid it becoming too unwieldy).

[2020-01-31 10:16] jghub commented on #1449
see above...

1. setting the historical/factual record straight.

your claim above:

fact: your statement I referred to when saying that was verbatim:

this is a paraphrase of "issue solved" for me (since it allegedly has "almost nothing" to do with the code).

looking at the numbers for the whole set of benchmarks (see the table I provided https://github.com/att/ast/issues/1449#issuecomment-57931

[2020-01-31 10:30] jghub commented on #1449
memory management: you say

this was my suspicion and that of knowledgable colleagues right from the start: "that has to have to do with changing the malloc stuff". you also say

that should not be decided by you alone, hopefully. if it *does* turn out that the malloc stuff is the cause of *all* (partly massive) slow down, this would need reassessment. there is no justification whatsoever to sacri

[2020-01-31 12:44] jghub commented on #1449
since I do care very much for the performance of ksh (as, I am sure, many ksh users will),  I wrote a few further benchmarks.  a typical comparison (same conditions as  here: https://github.com/att/ast/issues/1449#issuecomment-579311448) looks like this
[code]
everybody can do his own ratios but the "lowlights" are:
* `braces` is 62% slower in ksh2020ms,
* `fibonacci` 83% slower,
* `numfor` 123% (

[2020-01-31 21:11] jghub opened #1464 "segfault with extended globs"
this code
[code]
reliably segfaults  with current ksh2020, the problem is in this case inherited from ksh93v- (which in turn inherited it, for a change, from  ksh93u+, so this is not a regression but an original ksh93 bug I presume).

the extended glob pattern in the final test is causing the segfault.

[2020-01-31 23:19] aweeraman commented on #1461
Just an update, @mirabilos has helped re-introduce ksh93 back and is currently sitting in the NEW queue and will be added to the archive, if all goes well. Meanwhile ksh2020 is updated to use the alternative system so the two can co-exist and is available on Debian testing. Meanwhile, let us support the 2020 team to fix the issues and collectively help move the project forward so we can keep the k

[2020-02-01 03:55] krader1961 commented on #1464
Bug reports are great and welcomed. But given your intense interest in a project you've repeatedly claimed has been "hijacked" I'd be more impressed if you actually provided an analysis of the bug and, ideally, a fix.

[2020-02-01 04:18] krader1961 commented on #1464
A backtrace of the failure shows the stack being exceeded. Here are just the last few lines of the backtrace:

[code]

Note the number of call frames. The three frames from \#27214 to \#27216 repeat until the stack size limit is exceeded. I would argue this is not a bug in the usual sense of an implementation bug; e.g., a buffer overflow or off by one error. But there is a strong argument to be ma

[2020-02-01 04:21] krader1961 commented on #1464
Also, if you're using ksh for this type of problem you are using the wrong tool for the job. There are problems where ksh is the best tool. This isn't one of them. Google "if all you have is a hammer."

[2020-02-01 04:28] krader1961 commented on #1449
Wow! That anyone thinks ksh is the appropriate tool for tasks such as computing the value of pi, other than in a "can this be done" way, blows my mind. I have to wonder how many languages that person has mastered.

[2020-02-01 05:17] krader1961 commented on #1449
@jghub You wrote

Care to provide some proof of that statement? Had that been your "suspicion", and that of your "knowledgable colleagues", why didn't you mention it when you opened this issue? You wrote "consider a stupid micro benchmark" in your original problem statement and I'm inclined to agree.

[2020-02-01 11:03] jghub commented on #1464
this coming from you... so you _can_ be funny (even if only involuntarily).

but let's leave it at that here: segfault reported. this one of the "111" kind (present in ksh93u+, present in ksh93v-, present in ksh2020). put it on the list.

oh, and maybe count the "111" segfaults and user-facing operational bugs you know of. and than count the bugs in the "011" set (only present in 93v- and 2020 but

[2020-02-01 13:01] jghub commented on #1464
you also wrote:

what you state  is wrong in multiple ways:

* we are not talking "regexp" matching here but "extended glob patterns".  I am semi-confident that you understand there is a difference and you just used the word "regexp" carelessly. but to be on the safe side this needs to be pointed out.

* obviously, you don't understand extended glob patterns properly. `+(a)` means "only a's from s

[2020-02-01 14:59] jghub commented on #1464
fake fact fighting cont'd:

* I don't have an "intense interest" in this project. I do have interest in availability of a fully functional ksh93 -- and ksh2020 is becoming something different and inferior in your hands.

* it was someone else who described what has happened to the ast project as "hijack". you might check this and also whether I've adopted and used that term at all afterwards (I do

[2020-02-01 15:01] jghub commented on #1461
@aweeraman: thank you for this update. as said, having both options is good. having only ksh2020 is bad. I do hope other distros will follow your example... regarding

this would be good indeed. my initial hope was that this project will achieve that. but I have lost all confidence that this can happen as long as krader is involved (or rather: as long as krader is deciding single-handedly what cha

[2020-02-01 15:37] jghub commented on #1449
@krader1961 :

need I explain to you the meaning of the word "benchmark"? do you object against the benchmark computing something where the correct result is known a priori and can be asserted? what is your problem except that ksh2020 is overall much slower than ksh93u+ (although"only" 13% in this special floating point benchmark)? it is quite obvious that you don't want to admit that the slowdown

[2020-02-02 04:25] krader1961 commented on #1464
Okay, I'm closing this since the problem is due to an algorithm chosen long ago by the old AST team. Their choice of a recursive algorithm for that pattern is a pretty common choice. It is not an implementation bug. We're not going to change the algorithm they implemented since doing so would be incredibly risky with respect to backward compatibility.

@jghub I'll grant that you know more about th

[2020-02-02 14:49] jghub commented on #1464
knowing more about KornShell language than you do is not difficult, unfortunately. so let's say I am just an average "real" ksh user while you are not and your grasp of the KornShell language and the ksh communities' needs is decidedly sub-standard (and manifestly inadequate for maintaining future ksh development).
if you would appreciate (and be willing to respect/follow) expert advice on finer d

[2020-02-02 15:34] jghub commented on #1464
@siteshwar:

I'd expect  that you reopen this issue. a reproducible segfault is a bug. what else?  krader is acting and arguing foolishly by closing it. he seems to draw satisfaction from this sort of actions.

I have reported the bug intentionally very concisely and did not want to get into another stupid argument with krader but --- see above. I also made it very clear that this is broken even i

[2020-02-02 17:11] jghub commented on #1464
@siteshwar:
I also would request that you break your silence and speak out how you view the state of affairs in this project. are you still caring or have you given up? I feel it is getting more alarming and ridiculous by the day. and there is a single person responsible for this sad situation: krader. it most definitely is not just a problem of "deficient communication skills" as you put it somew

[2020-02-02 17:32] DavidMorano commented on #1449
Just a little note about VMALLOC (performance and otherwise):

I would just like to point out that VMALLOC was not removed for no reason at all.
It needed to be removed in order to allow new built-in commands (plugins, whatever) to use multiple threads (among possible other reasons also).  For whatever reason, the current VMALLOC implementation had some sort of problem with not being thread safe -

[2020-02-02 17:51] jghub commented on #1464
@gordonwoodhull
@johrstrom
@kindofblue
@MarshM
@s-u
@tremaineeto

dear owners of the att/ast repository,

having been encouraged to do so by some followers of this project and after having spend a couple of months trying to provide constructive feedback completely unsuccessfully I'd like to bring to your attention the sorry state of this project.

I would appreciate if you would take the time and

[2020-02-02 18:22] jghub commented on #1449
@DavidMorano
I appreciate this information. thank you. I understand that there are different use cases and metrices how to define "most suitable". and of course I don't object (why should I?) against your priorities implying that you might be willing to sacrifice performance for thread-safety (if I get that right).

but as you know, very (very!) few people will ever consider to write their own bui

[2020-02-02 21:01] hyenias commented on #1453
Took a little time but I found the root cause, a workaround, and a fix. While learning from this issue I have found other issues. One of which being the restricted shell issue that I believe you have already solved. I will work on collecting my notes and conveying the results for this issue then open up other issues for other things I found.

[2020-02-03 04:18] krader1961 commented on #1453
@hyenias That's great. And, despite what some other individuals seem to think, I actually do care about all bugs in this project. Especially those introduced since the ksh93v- release; i.e., by the work done by myself and @siteshwar over the past two years.

@jghub Read this issue and think about how the O.P. acted when they found a problem. Then think about how it compares to your behavior.

[2020-02-03 04:45] jelmd commented on #1464
@krader1961, thoughtless phrases commonly used to get rid of "pesky" people do not change anything. IMHO actually not @jghub but you should go away.

Well, some years ago I decided to only waste minimal time in this repo: just skim its archive from time to time, add some thumbs if it is really worth, and warn people, that this repo got hijacked if needed. Reasons are obvious. But since @jghub aske

[2020-02-03 05:47] krader1961 commented on #1461
@jghub wrote

That is an implicit admission that ksh93v- is not a "good choice for the default ksh in any distro" since the bug being discussed was introduced by the old AT&T AST team after the ksh93u+ release. It was not introduced by myself or anyone else who has actually committed changes intended to improve this project. Feel free to create a fork of the `2012-08-01-master` (the `ksh93u+`) bra

[2020-02-03 06:03] DavidMorano commented on #1449
@jghub

Yes, I agree with you above. The vast majority will not be using built-ins that are multi-threaded, at least not yet. There is -- at least at this stage of the world's usage -- little point in optimizing for that.  Although most people will not write their own multi-threaded builtins, at some point pre-written multi-threaded builtins might replace some of the existing common builtins. But

[2020-02-03 11:16] jghub commented on #1464
@jelmd: thanks a lot for speaking up! it seems high time to bring this bad development to and end. also many thanks for providing a lot of historic detailed background information I did not have -- although I had put the main pieces together already.

and further thanks for  compiling additional  extreme horrific examples of what krader has done to ksh ("kill non-forking subshells!?" that maybe so

[2020-02-03 11:24] jghub commented on #1461
restoring factual correctness cont'd.: this is not an "impliciit admission", but the expressed opinion of lots of people, me included: ksh93v- most definitely is not a good choice as default ksh. is is beta software. and ksh2020 is worse. that's why things have to change. hopefully will.

[2020-02-03 12:35] jens-maus commented on #1464
While I had mainly listened and monitored this repository in the past only, I also cannot stand the current situation anymore and would like to express my full support for @jelmd and @jghub and their idea to revoke direct commit access for @krader1961 to this att/ast repository.

While at the starting point of kraders' introduction to this repository I was still quite optimistic and found some of

[2020-02-03 15:06] siteshwar commented on #1464
This issue has diverted from it's original topic. But since everyone is putting down their thoughts here, I will summarize my experience and view of this project. I will try not to be biased and put facts here :

- It was me (and not @krader1961) who first got commit access to this repository. I had made multiple attempts to reach @dgkorn before starting to commit here, but he never responded to m

[2020-02-03 16:43] gordonwoodhull commented on #1464
Hi all!

I am not knowledgeable about ksh but I have plenty of open source experience, and I am an admin on this repo since I work at AT&T. I'm going to help @lkoutsofios with this transition, however it goes.

It's a tough situation when the original maintainers abandon a project with no successors, and especially tough when they abandon it involuntarily.

It sounds like we are close to a consens

[2020-02-03 17:35] jghub commented on #1464
@gordonwoodhull:
I am very happy that my "SOS call" reached you (it was a last resort after months of trying otherwise) and that you care to intervene/help.

a first feedback: my best guess is that @siteshwar will have a somewhat different view from the rest of  the followers of this project regarding how/whether to backout and start over. that is, I understand, he does _not_ want to do that but t

[2020-02-03 18:47] jghub commented on #1464
@siteshwar

we will not reach full consensus in our assessment but for the record:

at least he should not be blamed for choosing build system thats incompatible with old systems. I don't regret my choice and I am not going to use any other build system. No one (not even people who disagree with @krader1961) likes the old build system and all of us unanimously agree that it should have been change

[2020-02-03 19:55] jghub commented on #1464
@siteshwar: shortly coming back to the actual starting point of this thread. thank you for reopening it. I'd also request to relabel it as a bug and to remove the "notabug" label (which is silly:  it of course is exactly that: a bug). it also is not a god-given situation that this cannot be altered (just learned from mirabilos that mksh does handles the example just fine, for instance)

[2020-02-03 22:04] siteshwar commented on #1464
Removing code that was related to supercomputers that became obsolete in the 90s. I can't find relevant commit on quick look.

Ask @jelmd, he mentioned about this.

Most of the people involved in flame wars in this repository have zero code contributions. I just stated it as a fact as I mentioned at the beginning of my post.

[2020-02-03 22:38] jghub commented on #1464
would be important to review and verify this claim. there are a multitude of instances where krader stated falsehoods/misconceptions as a justification for exterminating features/code. if 100% (rather than "probably") true in the end, sure. otherwise: just leave the dead code in, for the time being. it is a fringe issue.

let's wait for him to reply if he feels like it.

I still cannot parse this:

[2020-02-03 22:41] siteshwar commented on #1464
@gordonwoodhull Thanks for chiming in.

There are few questions to answer:

- Most important question is who is going to be the lead maintainer if @krader1961 makes his changes in separate fork. Is there anyone watching this repository who is willing to volunteer ?

- The person that will be the lead maintainer should decide where to start from. If we choose to go back to ksh93u+ release, distribu

[2020-02-03 22:50] gordonwoodhull commented on #1464
The authentic AT&T Version will be ksh93u+.

Since there is no one inside the company to maintain the project, that will be the end of the original fork, and we can [archive it](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/archiving-a-github-repository).

I’ll be glad to help port issues to another repo, if desired, and update the README to point to any forks which

[2020-02-03 23:32] siteshwar commented on #1464
That would be the death of ksh. We will loose all the visibility we have gained in last couple of years and new fork will have to gain same level of visibility as we do now from scratch.

[2020-02-03 23:36] gordonwoodhull commented on #1464
If you are doing good work, people will follow. It has worked out fine for another project I maintain:

https://github.com/crossfilter/crossfilter

Exactly the same situation. The original company, Square, had ceased maintaining the project. I stepped in with a few other people, and it has continued to flourish.

There is nothing special about the att organization. The code is what matters.

[2020-02-04 05:58] jelmd commented on #1464
Well, perhaps I was wrong and @siteshwar still needs some time - a maintainer should be able to describe "community". In the context I used it above, I think the definition given on wikipedia is sufficient: "[a social unit that shares common values](https://en.wikipedia.org/wiki/Community_(disambiguation))".

However, thanx @gordonwoodhull  for helping to solve this repo problem. IMHO your plan is

[2020-02-04 08:59] kdudka commented on #1464
I do not think that downstream consumers care too much whether they download release tarballs of ksh from att/ast or ksh-reloaded/ksh, as long as the software works well for them.  For Red Hat it means basically two things:
1. Scripts written for ksh93 continue to work.  This is not much compatible with the approach of @krader1961.
2. We are able to maintain it (build the software in predictable w

[2020-02-04 12:23] gordonwoodhull opened #1466 "Rewinding this repo and encouraging community"
I work with @lkoutsofios at AT&T Labs Research and volunteered to see if I could help restore the repo to a state the community is comfortable with. This was last discussed in #1464.

I am not an expert in ksh or the technical issues, and I don't know the entire history, but my understanding is that

 1. ksh93u+ is the final official release from AT&T. This can be found in the branch [2012-08-01-m

[2020-02-04 12:23] gordonwoodhull commented on #1464
Thanks all. I made a concrete proposal in #1466, let's discuss there.

[2020-02-04 12:45] jghub commented on #1464
principally, I agree with everything @gordonwoodhull  has proposed/decided: thank you.

 I disagree with @siteshwar  that this would be the "death of ksh". rather to the contrary. going on without a clear cut would do decisive further (maybe mortal) harm to ksh. and  the 'visibility' he talks about seems to be mostly spurious (or identical with the visibility *here* where there is near unanimous a

[2020-02-04 12:47] jghub commented on #1466
@gorodnwoodhull: my most recent comments are here: https://github.com/att/ast/issues/1464#issuecomment-581893584

sorry for overlooking this (better) place. will take note from now on...

[2020-02-04 13:22] siteshwar commented on #1464
We will see. I wish you good luck with your efforts. I will request to get my commit access revoked (it was going to happen anyways) and will move on.

[2020-02-04 13:26] kdudka commented on #1464
It does not really matter as long as the references to the issues and pull requests (and the references inside them) stay valid.

The problem is that this task is more difficult than one would expect.  If you want to keep support for all the obscure HW and SW at the same time (as repeatedly requested here), it is nearly impossible.

I think you are underestimating the amount of work needed for thi

[2020-02-04 14:48] gordonwoodhull commented on #1441
I've renamed it "AST - AT&T Software Tools". I think that adequately describes its original purpose.

I think it should be straightforward to fork this repo and create one specifically for ksh, if anyone wants to do so.

[2020-02-04 14:48] #1441 closed

[2020-02-04 14:59] gordonwoodhull commented on #1466
I went ahead with removing the external collaborators and fixing the description. I'll wait to see if there is further discussion about the other points before continuing with those.

[2020-02-04 15:33] lkoutsofios commented on #1466
thanks @gordonwoodhull for helping out.

my original motivation for going along with @krader1961's proposal was to keep at least KSH alive since no one else was volunteering to work on the AST project as a whole. but I think we were all clear that backwards compatibility was mandatory. KSH's strongest advantage over other SH/KSH clones was its programming interface. if the new version breaks old s

[2020-02-05 03:14] DavidMorano commented on #1466
Just some friendly observational comments:

I have tried to follow both the recent discussion about rewinding the repository, et cetera, and the progress on this project since @siteshwar and then @krader1961 started making major contributions back in 2017.  For the record, my own experience w/ KSH dates from its very (albeit public) inception, back in 1983 (I was at Bell Labs at the time and follo

[2020-02-05 03:18] jelmd commented on #1466
@gordonwoodhull, I think you got it right and your proposal is good.

However, some nits:

Yes. But to avoid confusion [[1](http://situ.im/posts/kornshell-2020-impossible-happens)] [[2](https://groups.google.com/forum/#!msg/korn-shell/-tQkll8BxXU/X4ON61CHBwAJ)], that people use it as an official or stable version (actually what happened with version `v-`), README.md as well as CHANGELOG.md in this

[2020-02-05 03:32] gordonwoodhull commented on #1466
@DavidMorano thanks for your perspective. I don't know the history but I agree in principle with what you're saying.

I will second that I hope ksh2020 starts an organization, perhaps led by @siteshwar and @krader1961, starting from what is currently on master.

[2020-02-05 03:58] gordonwoodhull commented on #1466
@jelmd, sure, sounds good - I've edited the tasks above.

[2020-02-05 13:20] jghub commented on #1466
@DavidMorano, I appreciate your perspective, especially concerning the "KSH was Perl before Perl etc" aspect and its implications.

regarding what has been achieved (or not...) in ksh2020 I respect your assessment, although it seems too "understanding" in my view. I would readily agree that I cannot really judge the technical difficulties involved when rewriting/rephrasing the C-code . I am in the

[2020-02-05 17:40] gordonwoodhull commented on #1466
I clarified that we won't immediately archive the repo, and we'll contribute what patches we have, but we probably won't accept contributions unless they are trivial.

I'll proceed with the plan in the next week.

[2020-02-06 00:54] DavidMorano commented on #1466
@jelmd
I think that we agree (and most everyone agrees) with the growing consensus around the following:

+ that a new workable version of KSH be made out of the ksh93u+ branch as its base, possibly replacing NMAKE w/ something else; this would serve the needs of distros that need a very reliable (as much as can be expected given everything) and behaviorally compliant KSH

+ further, I have no obj

[2020-02-06 07:13] jelmd commented on #1466
@DavidMorano, I totally understand your concerns. But what we need right now is to get back the trust from vendors and users and therefore the outlined plan is IMHO the right way to go.

FWIW, I'm basically repeating, what has been already said:

At the moment all distros ship a ksh93 package, have certain bugs already fixed with their own patches and the process to build the package, or apply a s

[2020-02-06 08:46] kdudka commented on #1466
The necessary precondition to get back the trust of Red Hat is that upstream is able to competently and reasonably fast react on reports of important security issues.  For example, how quickly would your team be able to fix the following security issue in ksh93u+?

https://access.redhat.com/security/cve/CVE-2019-14868

[2020-02-06 11:36] siteshwar commented on #1466
I give up and move on with my life. I made all my efforts with the goodwill to help the community and it turned out that I achieved quite the opposite. I hope that someone else would pick up this project and would make progress in the direction that's more acceptable to the community.

[2020-02-06 23:08] DavidMorano commented on #1466
@siteshwar

I am very sorry to hear your decision on this matter.
I think that you were the best thing to happen to KSH in years!
Having RedHat (as represented by yourself) in the middle of decisions regarding KSH was likely the best thing to happen to KSH since the old haughty days of AT&T (pretty much long gone now).
I feel badly that the general community did not seem to show you more respect (

[2020-02-07 04:07] jelmd commented on #1466
...

@kdudka, if no-one creates an [repo issue](https://github.com/att/ast/issues/), it is very questionable, that it get fixed "in time" by the members of the related repo at all - so thanx for bringing it finally (after 4+ month) to our attention. And BTW, silently inserting a very [questionable patch](https://github.com/att/ast/commit/c7de8b641266bac7c77942239ac659edfee9ecd2), which just swings

[2020-02-07 04:12] marcastel commented on #1466
I would like to express an "external" (or consumer) point of view here on KSH for today and tomorrow.

Though I have not contributed any code to this GitHub repository, I have (since my #42 comment) maintained my own private build of ksh and a have some insight on its intrinsics -- and for one, I like its build system which, optimised, is better than the gmake/cmakes of the world, or their more re

[2020-02-07 09:02] kdudka commented on #1466
@jelmd Embargoed security issues cannot really be reported to a public bug tracker.  There needs to be some confidential channel where security issues can be reported and fixes prepared before the they are disclosed publicly.  When the mentioned security issue was discovered, the confidential channel was @siteshwar + @krader1961. They took care of it code-wise and process-wise.  If the new upstrea

[2020-02-07 09:59] jghub commented on #1466
@marcastel

its seems you are more or less paraphrasing what people have said here: ksh2020 is not a ksh93u+ drop-in replacement, so keep (or make again) ksh93u+ available, clarify ksh93u+ being "the" ksh for now and then proceed _carefully_ (bug fix patches etc).

yes. all of which was harmed to varying extend in ksh2020 already. I was just as you at the "receiving" end of it (as a user) ...

if

[2020-02-07 22:38] matvore opened #1467 "Pressing 'b' to go to beginning of command in vi mode results in crash"
**Description of problem:**
Pressing `b` to go to beginning of command in vi mode results in crash

**Ksh version:**
[code]
(installed via Homebrew on macOS a few days ago)

**How reproducible:**
100% of the time.

**Steps to reproduce:**
1. set -o vi
2. Press: "asdf" then Esc then "b"

**Actual results:**
Crash with stack trace:
[code]

**Expected results:**
go to beginning of line.

**Additional

[2020-02-07 23:06] jghub commented on #1467
I would advice, for the time being, to go back to using /bin/ksh on OSX which is the last stable release of ksh93 (i.e. ksh93u+). vi mode works just fine with it and the segfault you report here for ksh2020 is not seen with it.

ksh2020 ( which is what homebrew is providing via this repo to you) has known problems and the project is currently in a state of readjustment, see #1466

[2020-02-08 06:24] jelmd commented on #1466
@kdudka, hmmm, not sure like other projects handle it, e.g. like apache httpd, where one is able to find, which CVEs have been already fixed by just browsing the [commit logs](https://svn.apache.org/viewvc/httpd/httpd/trunk/CHANGES?view=log), __or__ reading the file which documents all important changes in a more human readable style - e.g. [CHANGES](http://svn.apache.org/viewvc/httpd/httpd/branch

[2020-02-08 11:12] jghub commented on #1466
@jelmd

I looked at that patch, too, and would agree that is is a "symptomatic treatment" (disable the respective ksh capability of passing such data at that point altogether). but I can see that security holes might better first be patched "in secret" to exclude exploitation by so far unaware actors. but otherwise you are fully right: no information afterwards, no discussion and no attempt of a b

[2020-02-08 15:06] aweeraman commented on #1466
A question that I have is what is the upstream of 93u+ moving forward, that will host these curated defect fixes and enhancements. @jghub are you volunteering to be the curator and maintainer of the pristine 93u+ official fork which distros can rely upon and not consider this project or the community as dead or abandoned?

[2020-02-08 18:59] gordonwoodhull commented on #1466
I've changed the branches as discussed, and added messages to the ksh2020 and master branches. See 5058182 and 0be8255 respectively.

If anyone wants to fork ksh2020, please start from `ksh2020^` to remove the messages.

Rewinding master removed the issue template and CONTRIBUTING.md. I didn't see the point of adding them, but if anyone has any requests, I'm game. I think it's best to leave the re

[2020-02-08 18:59] #1466 closed

[2020-02-08 20:37] jghub commented on #1466
@gordonwoodhull
thanks a lot for your help so far!

it also is good to leave the repo open for the reasons you state. thanks for this decision, too. :)

[2020-02-08 20:44] jghub commented on #1466
@aweeraman

maybe you can open a new issue "future plans" or something to that extent (this one is closed now...)? other people should have opinions, too :).

regarding your specific question: I have not considered to volunteer for that role so far since I am sure not the best qualified person to do so. if everything else fails: maybe... but I definitely would prefer to do it as a group -- and hav

[2020-02-09 12:27] kdudka commented on #1466
@jelmd and you did not try hard to find it out, did you?

http://www.apache.org/security/

So what prevents you from showing us how to handle it better?

As far as I know, the security issue is still not fixed in ksh93u+.  It is your turn now.

Earlier you wrote:

I am not sure how you are going to get back the trust of vendors when you have no reliable non-public channel where security issues can

[2020-02-09 16:37] jghub commented on #1466
@kdudka

basically, it is now _everybody's_ turn (including you), right? you should, e.g.,  be able to directly speak to @siteshwar and ask him for a list of bug fixes in ksh2020 that also fix/patch bugs in ksh93u+. that would be a good start in my view. I recall that `whence -a` bug (however marginal) that would be on that list, e.g., it seems (I have not checked but the claim was the bug is "20

[2020-02-10 07:24] paulfloyd commented on #1432
Just for info, I'm also seeing this on FreeBSD ksh93 Version A 2020.0.0

[2020-02-10 09:21] kdudka commented on #1466
Why do you ask me to ask @siteshwar ?  You should have talked to him directly and ask him under which conditions he would help you with the maintenance of ksh93u+.

Yes, for sure.

Nope, the code is not identical any more.  It required non-trivial effort to backport the patch to the old releases of ksh93.  I do not understand why you keep speculating what should or should not be done without looki

[2020-02-10 09:21] jghub commented on #1432
@paulfloyd:
ksh2020 has known problems (this special bug indeed made it into the ksh2020 "stable" release...) and the project is currently in a state of readjustment, see #1466.

it seems, FreeBSD will again provide the last official stable release (ksh93u+) beside or instead of ksh2020 soon (which was unfortunately not the case in the meantime I have been told?)  but to make sure you might consid

[2020-02-10 10:35] jghub commented on #1466
@kdudka

because Brno seems the home base for both of you and both of you view the situation as RedHat employees? because you might be interested in ksh93?

regarding asking him directly: really, go back to all the discussions/issues.... you will see that he _was_ repeatedly asked to reconsider the situation and to reset to 93u+  and to stop krader from  damaging ksh further. he made it very very

[2020-02-10 11:26] kdudka commented on #1466
I personally do not care whether the project is hosted at att/ast or somewhere else.  For me it is important who works on the project and what the results are.  If someone has the manpower to maintain ksh93u+ in a backward-compatible way, it is certainly welcome.  If not, we need to figure out what to do next.

I would suggest you to look at the code and commit messages before asking further quest

[2020-02-10 12:18] jghub commented on #1466
of course I do speak for myself. as were the other ≈ 10-30 people (unscientific estimate from looking at the issue history, probably there were more over the cause of 2-3 years) speaking for themselves  that expressed exactly that same sentiment at different point in times: ksh2020 is heading in the wrong direction and has become a failure. nobody except krader and siteshwar (not even you, althoug

[2020-02-10 15:38] jghub commented on #1453
@hyenias:
in case you wonder what krader's last remark refers to, please look at #1464(not so much the primary topic but what comes further down in the thread) and #1466 for an explanation of context (you were right with your "team of 1 guess", mostly, and rightly objected to your issue being closed w/o a resolution in my view) and possible future developments.

[2020-02-10 19:08] matvore commented on #1467
@jghub Thank you for the tip. `/bin/ksh` is working fine for me now.

I am new to ksh and I assumed the latest version would be the best. Reading some of the issues here, it sounds like that is not necessarily the case.

[2020-02-11 05:46] jelmd commented on #1466
@kdudka, no - I didn't try at all ;-). I've learned, that if I devote my leisure time to something, I should relax, have a beer (or two), and try to make one step after another ;-)

Anyway, if you wanna know, whether I could live with it: yes. If it works for the ASF, it should work for others as well.

1. Nothing special, just time.
2. The security issue report[s].
3. That you said, it should not

[2020-02-11 05:57] jelmd commented on #1466
@gordonwoodhull is it possible to remove the *2020* and *2017* releases on https://github.com/att/ast/releases ?  It is pretty confusing and most people would think, that someone just forgot to update the master README.md ...

[2020-02-11 06:45] jelmd commented on #1466
...

@kdudka , buffer overflows wrt. to GNU? malloc. But do they exist, if AST malloc is in use? So switching the malloc system might have caused all such overflows (and other problems) is also an option we should not oversee ...

[2020-02-11 08:30] marcastel opened #1468 "KornShell no longer in Amazon Linux 2"
Since prior version is end of life, I have been looking into Amazon Linux 2 for my AWS instances.

This is **catastrophic**. We need (*want*) our **POSIX Shell** back.

Any ideas as how to get this corrected ? That is, a ksh93u-compatible KornShell named `ksh`, located in `/bin` and listed in `/etc/shells`.

I can provide a helping hand provided I have directives and some visibility on where we ar

[2020-02-11 08:45] kdudka commented on #1466
This is not true.  We are releasing updates for Red Hat Enterprise Linux, where we have ksh93. Other Linux distributions release security updates, too:

https://bugs.gentoo.org/708618 (they have ksh2020 only)
https://people.canonical.com/~ubuntu-security/cve/2019/CVE-2019-14868.html
https://bugzilla.suse.com/show_bug.cgi?id=1160796
https://security-tracker.debian.org/tracker/CVE-2019-14868

The on

[2020-02-11 08:56] jelmd commented on #1466
...

Just to let you know: same thing for me (and I guess for @marcastel  and  @jens-maus, too?). But I guess, together we can handle it. And for most known bugs, I think we'll find workarounds we can put in an FAQ, etc. which takes the pressure away from needing to fix it "yesterday".

So I suggest to create a github org now. ksh is already taken, not sure whether one has already setup ksh93, but

[2020-02-11 09:43] jelmd commented on #1466
...

@kdudka, I do **not** buy this. IMHO this is a very lame excuse. You have had enough time 'til krader finally screwed up this repo! On the other hand, is there something which prevents you from adding patches to your issue tracker and add an appropriate link to CVEs? Wouldn't it be easy for you to create a github/redhat/ organization, clone the ast repo, and add your patches to its 93u+ maste

[2020-02-11 10:23] jens-maus commented on #1466
Sorry, but  I would like to raise my concerns regarding moving ksh to gitlab and especially using private repositories or such. All development, including discussions on security relevant issues, should he help in public especially since we are not dealing here with a highly security sensitive OS component IMHO. Only if we and others can discuss on such security relevant things in public others ca

[2020-02-11 10:31] jghub commented on #1466
@jens-maus:
I believe the proposal by @jelmd was to possibly move confidential discussion to gitlab since they offer that functionality. he was not talking about moving the repo to gitlab altogether AFAICS.  but even that (move non-public discussion there) seems not really desirable, I agree.  that could be sorted out differently.  and how exactly to deal with the (not so frequent) security releva

[2020-02-11 10:37] jens-maus commented on #1466
@jghub Actually, I cannot really think of any information/discussions that require a confidental channel here. Wasn't this one piece of all this krader repo mess that he probably also used  confidential channels with some third-parties?!? IMHO all future development and discussions should he fully performed in public and through official GitHub channels  to prevent the same from happening again...

[2020-02-11 11:32] marcastel commented on #1466
A lot of exchanges in the last couple of days. Perhaps time for _concrete_ actions. IMHO the way forward summarised below. A lot of points on either side expressed in this thread yet to be addressed. This is a starting point.

- - -

AT&T no longer supports its incarnation of the KornShell (i.e. the _original_ KornShell) and -- whether officially or not, has placed its source code on GitHub. Nobod

[2020-02-11 11:39] kdudka commented on #1466
@jelmd No worries.  The backported patches will be available for everybody to be able to (re)build ksh themselves.  Red Hat Enterprise Linux is open source.  I was talking about ksh upstream that should coordinate the effort across distributions, like upstreams of other projects do.

@jens-maus Embargoed issues cannot be reported to a public bug tracker by definition.  If you insist on everything

[2020-02-11 12:45] gordonwoodhull commented on #1466
Glad to see the discussion about a future organization for ksh93!

@jelmd, I am wary about deleting the ksh2020 releases just yet. What I've done for now is add a brief note in each of the ksh2020 releases saying that ksh2020 is not supported or maintained & this repo only hosts ksh93, pointing back to this issue and #1464.

GitHub creates a "release" for every git tag; the other tags are variants

[2020-02-11 13:49] jghub commented on #1466
@marcastel:

here are my spontaneous first thoughts to your proposals:

I guess you are right but it would be good if @gordonwoodhull and/or @lkoutsofios would consider to actively take part in the planned 'ksh93 organisation'. any chance?

I do not completely agree regarding priorities. or rather, I'd like to see initially only a very modest short-term roadmap agreed upon and a general consensus

[2020-02-11 14:26] gordonwoodhull commented on #1466
@jghub, I think you are correct that the license, EPLv1, [is not GPL compatible](https://en.wikipedia.org/wiki/Eclipse_Public_License). It looks like we need to add the license back to the master branch, too...

I don't think you can count on active involvement from anyone at AT&T. That's kind of the point of starting a new organization. @dgkorn is retired now, and neither he nor the other authors

[2020-02-11 14:57] jghub commented on #1466
probably :).

understood.

that I understand, of course. the question was whether there are people like @lkoutsofios on your side that could contribute on their own (not as ATT representative) since they are knowledgeable and care for ksh etc. if that is unrealistic -- too bad.

handle it with some work, and realistic goals.

yes. realistic (modest) goals I would like very much...

[2020-02-11 16:45] jghub commented on #1467
@matvore:

hopefully you stay with it. benchmarking some busy loops against bash or zsh might be helpful to understand that ksh93 is in a different league for scripting/programming (and the only of the Bourne shell descendants supporting floating point arithmetic).

if you want to dive deeper into ksh this book

https://www.amazon.com/exec/obidos/ASIN/0131827006/qid=1005942232/sr=1-2/ref=sr_1_14_2

[2020-02-11 18:05] lkoutsofios commented on #1466
I can't play a very active role but I can try to contribute from time to time.

[2020-02-11 18:44] jghub commented on #1468
that move seems hardly related to the ksh2020 situation and the ongoing readjustments of this project I presume.  so it seems a "random coincidence" that it happens right now. if it is not random, I would say it is another indication that the reset of this repo to 93u+ and the planned "community fork" are the right way to proceed.

I have no idea how to rectify the situation, assuming that you wri

[2020-02-11 20:50] cschuber commented on #1467
I'm using the FreeBSD ksh93-devel port, updated a day prior to the rollback (8cf92b28). I have no problems with "b". You might want to try the latest ksh2020 branch.

[2020-02-12 02:53] dannyweldon commented on #1468
@marcastel is it not possible to just install it with`yum install ksh`

[2020-02-12 03:01] marcastel commented on #1466
First draft at a roadmap document

_ _ _

### Abstract

The *KornShell Project* is a community initiative to manage, maintain, and enhance David Korn’s heritage by the same name.

### What is KornShell?

KornShell is an interactive command language for the UNIX system that was designed and developed by David G. Korn at AT\&T Bell Laboratories. KornShell is also a complete, powerful, high-level pro

[2020-02-12 04:12] marcastel commented on #1466
@jghub

Thanks for your repeated feedback. I believe we are inline on short term priorities and this should reflect if the previously submitted draft roadmap document.

[2020-02-12 04:27] marcastel commented on #1466
@jghub

Clear roles and responsibilities are essential to give a consistent and coherent view to the _outside world_. They also allow to establish commitment levels within the team. Most, if not all, participants will have a day job. By clearly identifying roles and responsibilities, everybody has a more precise idea of the time that has to be invested by each participant. We move away from the _b

[2020-02-12 04:43] marcastel commented on #1466
Yes documentation is hard work. But I, for one, am ready to invest time and effort to get this, if not done, at least started. Investment being on content not on layout -- the latter can wait. As an example, I very much appreciate the one-man job done by John MacFarlane to maintain Pandoc's documentation and mailing lists. Good documentation means visibility. Visibility means on boarding more peop

[2020-02-12 05:11] marcastel commented on #1468
@dannyweldon Obviously yes. But this only does the job for manual installations.

I use cloud-init for my on premises and in the cloud virtual machines. Not having KornShell as a primary shell means that a) I cannot automatically create my users, and b) all my shell scripts cannot be run... or at the cost of a lot of (dirty) tweaking.

Not having KornShell as a primary shell is sort of going back

[2020-02-12 06:24] jelmd commented on #1466
@jens-maus, I agree with you, but it seems to be an established model used by almost every more or less big SW community. The idea of the private repo is having a closed room, where only **all org members** (and I really mean **all**) are able to see, what's going on. All other probably do not care anyway, but well, if the distro maintainers/security officers feel better with it, why not if it wor

[2020-02-12 07:00] jelmd commented on #1466
@kdudka, My problem here is, that you? released an CVE for ksh and put a link to the patch for the 2020 version, only. IMHO irresponsible and just another attempt to make people think, that 2020 replaced 93u+. Really, really dirty.

[2020-02-12 07:07] jelmd commented on #1466
@gordonwoodhull, thanks for adjusting ksh2020 releases. Your idea is as usual even better :)

[2020-02-12 08:28] kdudka commented on #1466
@jelmd I think it is a common practice that security advisory contains link to the upstream commit that fixes it.  As far as I know, there was no other upstream of ksh when the security issue was handled.  But no worries, this is open source.  Everybody who has an e-mail account can comment on the bug and attach backported patches for any releases of ksh.  Please feel free to do so.

[2020-02-12 12:28] jghub commented on #1466
@marcastel, my feedback to your roadmap draft:

this is impressively detailed and I appreciate your initiative and thoughts. many things I could agree with, some others: not so much. and other people would have to have their say, of course.

but for very principal reasons (manpower, optimal use of the present momentum for priority short-term goal achievement) I would opt for postponing this roadma

[2020-02-12 12:50] marcastel commented on #1466
@jghub. I mostly agree with your remarks. Let us materialise this TODO list. A lot of comments have been made. We now need a GO and a practical location to mature thoughts and ideas, and to start working. In my opinion the where is not so important, and nor is its name as we can change this subsequently. It simply needs to exists rapidly.

Count me as a helping hand where and when needed :smile:

[2020-02-12 13:04] jghub commented on #1466
@jelmd, @jens-maus:
it seems you two are the ones being most suitable to execute the formal/technical setup (organisation+fork/new repo) -- or is someone else around who wants to do it? could you try to sync and propose a definite organisation/repo name here (so that people can object or approve) and than just  _do_ it?

regarding naming, @marcastel  proposed "kornshell.plus". I would prefer "Korn

[2020-02-12 13:18] marcastel commented on #1466
Naming is not of vital importance now as this can be changed in the coming weeks as consensus is gained. However I would encourage not to relate to 'ksh93' in the name. We wish to exist on the long term where the product will be the KornShell not the ksh93 incarnation that marked its end of life at AT&T.

As for the `.plus` TLD -- despite the eye wink to the release state of software at AT&T, this

[2020-02-12 14:14] jghub commented on #1466
I still believe it would be preferable to refer to the '93' in the name. there are decent ksh88 clones out there. there is no ksh93 clone at all.  it thus seems to be important to distinguish between ksh88 (clones) and ksh93 (and also against ksh2020, if that project continues) for the foreseeable future or even forever.

"ksh93" is synonymous to "the new Korn shell programming language" syntax as

[2020-02-12 15:27] jelmd commented on #1466
@marcastel, just some notes on the go: Awesome work and if we would be 50+ people, thumbs up. Sooner or later we need it definitely, but for how it is IMHO a little bit over the the top. As @jghub said, we all do not have so much time and probably shrug, when reading it, because we know, we are right now 5-10 people, only. So let us start with small steps and than, when the things flow, tackle the

[2020-02-12 16:25] marcastel commented on #1466
@jelmd... you forgot `kornshell` which is the name I advocate and which is how this is called on David Korn's [related website](http://kornshell.com).

Please let me insist: 93 is 1993 and hence synonymous of old, legacy, deprecated... which is quite the contrary to what we are trying to achieve. Likewise references to AST or ATT are synonymous to abandoned, stopped, deprecated... again contrary t

[2020-02-12 17:23] jelmd commented on #1466
Well, we are currently working on the **org name**.  And thus having a kind of version prefix or suffix doesn't make much sense to me as well. As an org we can have several repos (step 2). A repo named ksh93 would make sense, since right now our primary goal is/should be to fix existing problems of ksh93, but having a single ksh repo with a ksh93 maintenance branch would be ok either. But one step

[2020-02-12 17:54] jghub commented on #1466
@jelmd: I was going to ask that just now: we are only deciding the org name now, right?  I partly mixed it up in my head with the best repo name...

so my question now is: is (camel case!) `KornShell` possible/not yet taken? if not (as it seems) that would be fine with me except the single concern that searching github for "kornshell" still yields too many hits. @jens-maus proposal to make the "ow

[2020-02-12 18:28] marcastel commented on #1466
@jghub Your arguments are good and I appreciate your conciliating approach; I give up my not so important opinions so as to limit further iterations on this topic.

We will re-open this discussion when we finally get to addressing the POSIX compliance of the AT&T KornShell successor of same name. But that may be quite some time down the line.

I was not aware of the Android "issue". Interesting.

[2020-02-12 18:47] matvore commented on #1467
I tried building at that commit and am still getting the same problem. I assume there are a lot of other factors about whether an illegal access will be detected, like the compiler used and the OS, which would explain why we're seeing different behavior.

Switching the two clauses in the while loop condition did fix it, as I suspected.

I have been trying out ksh for this exact reason - it sounds

[2020-02-12 19:03] jelmd opened #1470 "new organization name"
Choices:

* KornShell

* kornshell

* KornShell-Community

* kornshell-community

* kornshell.plus

* KornShell93

* kornshell93

* KornShellCommunity

* kornshellcommunity

* ksh-ast

* ksh-community

* ksh-team

* ksh93u++

* KSHland

* kshland

* KSHlang

* kshlang

* KSHreload

* kshreload

* TheKornShell

* thekornshell

231 points. Max. 21/name.

[2020-02-12 20:54] jghub commented on #1470
n*(n+1)/2 points -- you make this tough... I do hope not exhausting the points account is permitted by the game's rules :).

[code]

but I could live with other proposals as well except ksh93u++ since @marcastel is right that it has a wrong connotation ;)

[2020-02-13 08:07] jghub commented on #1466
@marcastel: attention -- off topic ;)

I double-checked. here is the "history": https://stackoverflow.com/a/18844732

and I was told in the mksh IRC channel that android uses it as `/system/bin/sh`. specifically, Android 10 has version "MIRBSD KSH R57 2019/03/01 Android"

mksh is a descendant of oksh which is a descendant of pdksh. mksh is very descent. not fast (but still bash-like...), very smal

[2020-02-13 08:24] jens-maus commented on #1470
[code]

[2020-02-13 08:34] jelmd commented on #1466
@jghub, camel case is possible as well. However the base URL (http://github.com/${entity}/${repo}) is case-insensitive, and many people including me prefer all lowercase. Anyway, I've created issue #1470 to have the name poll on a separate page and put the camel case variants into the list as well.

**Please vote** by adding your list copy including points to **#1470**. If someone likes to add oth

[2020-02-13 08:54] jelmd commented on #1470
[code]

[2020-02-13 13:21] bitstreamout commented on #1466
On 2020/02/11 05:49:50 -0800, jghub wrote:

You might not forget all the patches Michael Schröder <mls@suse.de> and I had done to for "ksh93u+" (and some for the broken "ksh93v") ... you'll more one the openSUSE build host below the repository shells in the project ksh.  I had also a local copy of the meanwhile removed "ksh93v" tree from 2014.  Does any one know if David Korn had kept a list of co

[2020-02-13 13:37] jghub commented on #1466
@bitstreamout:
thanks a lot for this clarification (I seem to recall your name from the old times on the ATT ksh mailing list ;)).
I believe to get a good overview over existing sound patches from different sources(?) would be important in the early phase of the planned community effort. so if you can provide competent help there (or want to be directly involved?) that would be great! I am of cour

[2020-02-13 14:14] dannyweldon commented on #1470
I am not voting very highly because I am undecided which ones are the best.

KornShell
kornshell 10
KornShell-Community
kornshell-community 10
kornshell.plus
KornShell93
kornshell93
KornShellCommunity
kornshellcommunity 10
ksh-ast
ksh-community 10
ksh-team
ksh93u++
KSHland
kshland
KSHlang
kshlang
KSHreload
kshreload
TheKornShell
thekornshell

[2020-02-13 17:32] HansH111 commented on #1467
Same with me, no problems, in ksh2020  version :  2020.0.0-beta1-208-g2f06a34e-dirty

[2020-02-13 19:36] gordonwoodhull commented on #1466
Since all of the wiki pages were about **ksh2020** I have archived them in a separate repo:

https://github.com/att/ksh2020-wiki/wiki

[2020-02-13 20:32] lkoutsofios commented on #1466
I had copied all the AST public files when Dave and Glenn were leaving and I don't believe there's such a list in there. Dave probably kept all the email interactions he had but that would have been in his personal home directory.

[2020-02-13 20:47] cschuber commented on #1470
ksh-community or some name with community in it makes sense.

[2020-02-13 21:05] saper commented on #1466
I have some patches for things like the `INIT` package based on 2014-12-24, mostly bug fixes, is there a chance those could be upstreamed here and a new release be done?

[2020-02-13 22:30] jelmd commented on #1466
@saper, we are currently bootstrapping a new github organization, which will take over ksh maintenance and hopefully gets accepted as ksh upstream.  We would be happy to get your patches as well. And certainly there will be a new release, when it is time.

BTW: If you (and everybody else) like, you are welcome to vote for the new org's name on #1470 as well. Voting ends on 2020-02-15 00:00:00 UTC

[2020-02-13 22:42] jelmd commented on #1470
@cschuber, feel free to vote - ksh-community is already in the list - [see voting details](https://github.com/att/ast/issues/1466#issuecomment-585611425)

[2020-02-13 22:54] saper commented on #1470
This is not only about ksh. A whole AST repository is there with some other tools. `INIT` defines the following "packages":

* ast-base
* ast-ksh
* ast-make
* ast-open
* INIT

[2020-02-13 23:26] marcastel commented on #1470
@saper You are totally right. However -- and this is my understanding, the objective is to perpetuate the KornShell and not the whole AST ecosystem.

Obviously you raise the point of the dependency of the KornShell on that ecosystem. And that has to be addressed. In particular from a licensing standpoint. We will probably end up with multiple licenses ... one for the executable, one for the librar

[2020-02-14 01:55] aweeraman commented on #1470
* KornShell
* kornshell - 21
* KornShell-Community
* kornshell-community - 18
* kornshell.plus
* KornShell93
* kornshell93
* KornShellCommunity
* kornshellcommunity
* ksh-ast
* ksh-community - 18
* ksh-team - 20
* ksh93u++
* KSHland
* kshland
* KSHlang
* kshlang
* KSHreload
* kshreload
* TheKornShell
* thekornshell

Also, proposing:

* korn-shell - 21

[2020-02-14 01:56] cschuber commented on #1470
But we should have community in the name to denote that this is community driven not sponsored by some large company.

[2020-02-14 02:10] cschuber commented on #1470
@marcastel, would it be fine if some (not all) people on the new project were interested in perpetuating the AT&T INIT? My thinking is that in a volunteer project, which I assume this will become, people will work on whatever interests them, kind of like what we do on the FreeBSD project. Unless of course there's conflict, when core or the steering committee arbitrates or makes a final decision.

[2020-02-14 02:37] marcastel commented on #1470
@cschuber INIT is required to bootstrap and build the KornShell. Consequently it is within the scope of the new organisation. And I, for one, am particularly attentive to and supportive of anyone interested in perpetuating INIT and ast-make  :smiley:

[2020-02-14 03:16] jelmd commented on #1470
- Please use this issue for voting, only.
- The name list got closed on 2020-02-14 00:00:00 UTC.
- Voting continues 'til 2020-02-15 00:00:00 UTC. You may edit your current voting at any time. However, if it has a timestamp > the given time, it gets not counted.

[2020-02-14 06:48] cschuber commented on #1470
- ksh-community
- ast-community

[2020-02-14 09:38] jelmd commented on #1470
@cschuber, so I guess 21 points for both of your choices?

Actually the name list is already closed (since 2020-02-14 00:00:00 UTC), so ast-community is not on the list. If you have very strong feelings for it, I think we should be flexible enough to extend list finalization and voting another day. But I guess, it would not really change anything anyway. So I prefer to keep the list as is, so that

[2020-02-14 12:25] bitstreamout commented on #1466
On 2020/02/13 05:37:52 -0800, jghub wrote:

A good starting point is here https://build.opensuse.org/package/show/shells/ksh
and as maintainer had changed in 2014 as I had taken maintenance of systemd before,
I add Michael Schröder to carbon copy.

Note that I had switched to 2014-06-26 of ksh93v in July of 2014 but due to
the trouble with this version (it was never stable, e.g. used not reentrant

[2020-02-14 12:54] marcastel commented on #1470
| Organisation name         | Vote |
| ------------------------- | ---: |
| KornShell                 |   21 |
| kornshell                 |   21 |
| KornShell-Community       |   14 |
| kornshell-community       |   14 |
| kornshell.plus            |    - |
| KornShell93               |    - |
| kornshell93               |    - |
| KornShellCommunity        |   14 |
| kornshellcommunity        |

[2020-02-14 13:27] jghub commented on #1466
@bitstreamout :

thanks for this pointer.

if he has a github account, we could try to notify him, too, if relevant.

that sure was wise ... (although the "much faster" is not correct in my benchmarks. it is more or less break even (93v- frequently only 10% slower but in other cases distinctly faster). ksh2020 indeed _is_ much slower.)

that sounds very interesting, indeed! probably exactly what w

[2020-02-14 17:15] jelmd commented on #1466
@bitstreamout, @gordonwoodhull, @lkoutsofios, just in case github didn't notify you (because not explicitly mentioned): Voting for the new organization name ends within ~7 hours. So if you like, [details are here](https://github.com/att/ast/issues/1466#issuecomment-585611425).

[2020-02-15 00:08] jelmd commented on #1470
Final results:

Name|Place|Points|@jghub|@jens-maus|@jelmd|@dannyweldon|@aweeraman|@marcastel
---|:---:| :---:|:---:|:---:|:---:|:---:|:---:|:---:
KSHland | 21 | 0 |   0 |  0 |  0 |  0 |  0 |  0
KSHreload | 20 | 0 |   0 |  0 |  0 |  0 |  0 |  0
kornshell.plus | 19 | 0 |   0 |  0 |  0 |  0 |  0 |  0
kornshell93 | 18 | 0 |   0 |  0 |  0 |  0 |  0 |  0
ksh93u++ | 17 | 0 |   0 |  0 |  0 |  0 |  0 |  0

[2020-02-15 00:23] jelmd commented on #1470
@jghub, @jens-maus, @jelmd, @dannyweldon, @aweeraman, @marcastel thanks a lot for your voting.

The winner is **kornshell**. I'll try to contact github support to check, whether it is possible to take it over. If not, we will use the name on the 2nd place, which is **ksh-community** (already reserved by me).

[2020-02-17 04:15] krader1961 commented on #1467
This is a [heisenbug](https://en.wikipedia.org/wiki/Heisenbug). This bug is present in ksh93u+.

I had determined the root cause of this issue a few hours after this issue was opened. But I waited till now to see if anyone would take the issue seriously. I was not surprised in seeing the new people in control of the project assuming the bug was introduced by me. That is, since the ksh93v- or ksh93

[2020-02-17 05:53] DavidMorano commented on #1467
@krader1961

You did not replace the system MALLOC w/ AST VMALLOC in ksh2020, did you?  I hope not.

[2020-02-17 10:34] gordonwoodhull commented on #1467
@DavidMorano, I think @krader1961 is referring to #1466, the rewinding of this repo to ksh93u. I  don't see why ksh2020 can't live on elsewhere. It is available on the [ksh2020 branch](https://github.com/att/ast/tree/ksh2020).

This is just a repo. Forks happen.

[2020-02-17 13:38] jghub commented on #1467
in the so-called "stable" ksh2020 release it is 100% reproducible  in OSX (like for the OP).  nothing of a heisenbug to it at all (on that platform, anyway).

 OTOH, I was not able to make ks93u+ segfault _ONCE_ under OSX due to vi-editor misbehaviour in  >5 years using this editor mode.

if krader were technically right to claim that it is a bug in ksh93u+, he should provide an example how to tri

[2020-02-19 17:34] orbea commented on #963
@siteshwar and @krader1961 Any news on this bug? Its been over a year and this bug makes ksh hard to support when using `command`.

[2020-02-19 19:32] siteshwar commented on #963
@orbea We have stopped working on this codebase. See #1466.

[2020-02-19 21:06] orbea commented on #963
@siteshwar So what is the relevant repo now?

[2020-02-20 00:30] hyenias commented on #963
@orbea: As I am new to ksh, I cannot speak towards the possible nuances of `command` and its related alias.  However, if you utilize `eval` in front of `"$@"` then it should work as expected.

`eval "$@"`

Additionally, one can use `whence` to print the path of any command. Overall, I do not feel that if all the other shells do it then ksh93 must without investigating as to why ksh93 was created i

[2020-02-20 01:14] jelmd commented on #1470
@jghub, @jens-maus, @jelmd, @dannyweldon, @aweeraman, @marcastel: github support answered with "... we won’t be able to release that username for you today. ...". So our new  new child is **ksh-community** :-) . Have fun!!!

[2020-02-20 01:14] #1470 closed

[2020-02-20 01:59] krader1961 commented on #963
@orbea and @hyenias: As @siteshwar said the two of us are no longer working to improve ksh. The new owners seem to believe that ksh93u is perfect and have yet to fix a single bug. Even when I provided a detailed diagnosis of another bug present in ksh93u (see #1467), which has a straightforward fix, they essentially said I introduced the bug and there is no indication they will ever fix it. My rec

[2020-02-20 02:38] krader1961 commented on #963
LOL! The new owners of this project have complained many times that I don't care about POSIX compliance. There is a kernel of truth to that in as much as I think long obsolete features like the `MAILCHECK` var could be eliminated. However, note that ksh93u is not 100% POSIX compliant. This came to my attention when I read the [bash POSIX mode](https://www.gnu.org/software/bash/manual/html_node/Bas

[2020-02-20 03:19] orbea commented on #963
Given that ksh is essentially dead with the current direction I think `mksh` is the next best alternative for a ksh derivative shell. Personally I just use `ksh` for compatibility testing, but it seems it might be time to retire it entirely.

I just want to be clear that this is all very disappointing...

[2020-02-20 03:28] krader1961 commented on #963
I agree. However, given the numerous quirks of the "official" ksh it seems unwise to use a clone like `mksh` which attempts to track the real `ksh` behavior. Those ksh clones will not have the same core bugs, such as blithely doing `array[-1]` style accesses that can result in a SIGSEGV, but they will be incompatible with the real ksh in many other ways. Honestly, given the current state of the pr

[2020-02-20 03:49] orbea commented on #963
Yes, I realized that `mksh` won't be fully compatible with the real `ksh` and I agree about deprecating the use of this repo with the current state. Nevertheless I think `mksh` is the best working and maintained `ksh` derivative left, although the only other ones I know and would consider are `oksh` and `loksh` which are ports of openbsd's `ksh`.

Personally I'm partial to `yash`.

[2020-02-20 04:13] krader1961 commented on #963
The AST nmake build system made sense two decades ago when they had to support of lot of platforms that were not even C99 compliant. But that is no longer true and the reversion to that idiosyncratic build system pretty much guarantees the death of this project.

[2020-02-20 04:20] krader1961 commented on #963
@jghub and @jelmd: Care to comment? Or, better yet, fix this bug? Or commit a change that documents this behavior as expected?

[2020-02-20 04:42] cschuber commented on #963
I managed to get it to build under FreeBSD, resurrecting old makefiles and patches. It's currently in a stash. I'm waiting to see what comes of ksh-community before proceeding in one direction or another. The build is simplified compared to the FreeBSD ksh93v- port requiring fewer patches and environmental tweaks.

[2020-02-20 10:01] rphaniram opened #1472 "/tmp gets filled up on ksh93 93u+"
On versions of Solaris 10/Solaris 11 that ship with ksh93, the following behavior is observed:

Version of ksh93 on system:
$ ksh --version
  version         sh (AT&T Research) 93u+ 2012-08-01

The issue:
ksh93 seems to fill up the /tmp filesystem under certain scenarios. when redirection/here-doc operators are involved.

Example:
ksh93 does not seem to handle here-doc correctly in scenario's such

[2020-02-20 12:40] jghub commented on #963
@orbea: since krader mentioned me, I got a notification, so had a look at this thread with its 15 months history. my remarks concerning your questions/statements:

1. regarding the issue, I would agree with @hyenias. a) it *definitely* is the right way to  use `eval` in situations like your example to avoid surprises/failures. I have long stopped (except in very easy cases) to simply do `$cmd` (wh

[2020-02-20 13:02] jghub commented on #963
and now to the tedious part of setting the record straight and not letting krader get away with spreading intentional misinformation and intentional or clueless falsehoods.

let's start with https://github.com/att/ast/issues/963#issuecomment-588570491

claim: "The new owners seem to believe that ksh93u is perfect and have yet to fix a single bug. "
:
fact: there are no new owners. this repo is own

[2020-02-20 13:20] jghub commented on #963
setting the record straight, part 2:  https://github.com/att/ast/issues/963#issuecomment-588579793

claim: "However, note that ksh93u is not 100% POSIX compliant.  ... The relevant POSIX spec is https://pubs.opengroup.org/onlinepubs/007908799/xcu/kill.html. So, if you want 100% POSIX fidelity, you might be better off using bash -posix."

fact: ksh supports the POSIX-required behaviour (and only do

[2020-02-20 14:20] jghub commented on #963
setting the record straight, part 2:https://github.com/att/ast/issues/963#issuecomment-589018928

krader's claims:

facts:
* krader alludes to numerous quirks of the "official ksh". I challenge him to provide a list and to explain what he refers to, especially in comparison to the buggy ksh2020 behaviour.
* mksh does not "track" ksh.
* mksh is mimicking ksh88 closely and adopted important features

[2020-02-20 14:31] jghub commented on #963
setting the record straight, part 4 :https://github.com/att/ast/issues/963#issuecomment-588600177

krader's claim:

facts:
top priority of the ksh-community effort will be to provide an easy-to-build ksh93u+ again for all current/major platforms (on which ksh2020 is building, say). whether and when an alternative build system will be provided remains to be seen. it is totally possible.

the "death

[2020-02-20 14:36] jghub commented on #963
@cschuber

ksh93u+ you mean? good! are you the official maintainer of the ksh port(s) for freebsd (I am not on FreeBSD...)? the discussion so far in the just starting ksh-community org considers to try and provide a way for the major "distros" to just download+compile w/o necessity of local patching. maybe your experience with freebsd than can come in handy?

[2020-02-20 14:53] orbea commented on #963
@jghub That is most certainly not the way to use `eval`, that is a terrible suggestion and you should feel bad for making it.

Additionally you wrote a lot of stuff without really saying anything relevant or otherwise. My honest advice is to remove yourself from this repo and don't come back. Bluntly its so amazing how bad you are this that there are no words. The ksh you so idealize has been long

[2020-02-20 15:12] jghub commented on #963
@orbea:

* I don't agree regarding `eval`. what would your use of `eval` be? you tried to use `$@' exactly for that: execute a computed command string.  if that works at all it has the same dangers as eval  (code injection, unpredictable behaviour in case of programming errors or what not).
* if you find my comments irrelevant, too bad. but it's up to you if you want to ignore them. just do it.
*

[2020-02-20 15:59] orbea commented on #963
Using `eval` on arbitrary input is generally not safe and does not at all accomplish what `command` does. Please read the posix spec and reflect upon it until you understand why you are so wrong. As a hint, in my actual script I use `command -p` which results in the same issue.

https://pubs.opengroup.org/onlinepubs/9699919799/utilities/command.html

You ever meet that person that says a lot of th

[2020-02-20 16:58] jghub commented on #963
of course not. nobody said so. `eval` and `command` have _nothing_ to do with each other. you hit a general problem in that `$cmd` (where `cmd` holds whatever constructed expression/command) does not in general achieve what you naively might expect: execution of the string value as if you would have typed the same text at the command line. `eval $cmd` does that. that's what @hyenias was suggesting

[2020-02-20 17:43] gordonwoodhull commented on #963
I don't know the history of this repo but IMO when there is this much animosity between two camps in an open source community then forking is the civil thing to do.

I stand by our decision to revert this repo to ksh93u+ (2012) and I wish the best of luck to both ksh-community and ksh2020.

AT&T is not able to actively maintain this project, so we need both new communities to fork this repo and co

[2020-02-20 23:00] jghub commented on #1472
@rphaniram:
no solution to your problem, just a heads up that this repo is in a phase of readjustment. some context might be found in #1464 (scroll a bit down ...) and #1466. currently, there is an effort under way to ensure the longterm availability of ksh93u+ (plus bug fixes) as opposed to the ksh2020 offering provided these last 2-3 years in this repo (i.e. take note that the current ksh2020 br

[2020-02-21 04:36] orbea commented on #963
@gordonwoodhull This repo had two capable, willing and active maintainers. Now it has 0, if anyone wants the old broken 2012 repo they should do that elsewhere. This result is not only disruptive, it is highly destructive to the project and the commit history. Most of the community was not involved in this decision process.

[2020-02-21 05:39] gordonwoodhull commented on #963
There was about a week of discussion in #1464 and #1466. It is true that not too many people on the ksh2020 side participated.

I still hope that @krader1961 and @siteshwar  will consider taking the ksh2020 fork to another repo. Forks are very common on GitHub; in fact they are a deep part of the design of git. There is nothing any different about github.com/att from any other location on GitHub.

[2020-02-21 07:27] rphaniram commented on #1472
@jghub  Thanks for the response and info.

Shall checkout the new group ksh-community and will look to reopen the issue.

1.

[2020-02-21 07:27] #1472 closed

[2020-02-21 10:12] jghub commented on #963
@orbea
I naturally accept your preference for the ksh2020 line of development, I just don't share it. however, you wrote to @gordonwoodhull:

and this necessitates  a few comments:

* the major misconception in your statement is  "old broken 2012 repo".  I challenge you to do a fair and comprehensive comparison of the current rewound master (93u+)  -- the last stable release of ksh93 after about 2

[2020-02-21 14:01] orbea commented on #963
There is only one person here contributing to that, ban @jghub for being a toxic spammer and the issue will vanish.

We had a perfectible working space here already, please fork the old bitrotten code to another repo.

[2020-02-21 14:19] jghub commented on #963
@gordonwoodhull:
I am very sorry for the noise and misguided anger you receive (even if only from 1-2 persons altogether) for your team's decision and your personal volunteering and committing time to make the transition as smooth as possible. almost everybody following this "affair" sure appreciates your approach and contribution a lot.

FYI: ksh-community will/does happen. maybe one of the other

[2020-02-21 18:49] matvore commented on #963
I don't know @jghub personally, but considering they have a big investment in ksh93 (a large codebase of productivity scripts and a long .kshrc, based on https://github.com/att/ast/issues/1445 and in particular https://github.com/att/ast/issues/1445#issuecomment-559687232), it is hard to blame them for getting emotionally engaged while criticizing the state of the repo.

Distro and repo maintainer

[2020-02-21 19:31] orbea commented on #963
Being emotionally engaged is understandable, long off-topic and irrelevant diatribes that amount to mere spam, harassment and bad advice is not acceptable behavior.

Users that depend on bugs and / or undefined behavior should not expect any backwards compatibility and their code should be broken, preferably the sooner the better so that it gets fixed instead of having decades old bugs that no one

[2020-02-21 20:11] cschuber commented on #963
I haven't decided yet what our ksh ports/packages will look like. We currently have ast-ksh (maintained by @saper), ksh93 (currently at 2020.0.0), ksh93-devel (just prior to the big revert), and ksh2020 (based on the new 2020 branch). I maintain the ksh* ports. @saper and I will discuss our plan going forward, probably in March as I have a high priority issue I'm working on now.
As to contributing

[2020-02-21 20:35] jghub commented on #963
let the readers decide whether they agree with you regarding 'off-topic', 'irrelevant', 'spam', 'harrassement' 'bad advice', 'not accetable behavior'. but Chapeau!: 6 invectives in a single sentence is really impressive (if one cares for this communication style). and actually I am rather calm, not prone to emotional outbursts. which cannot be said of everybody around here.

I have no idea what yo

[2020-02-21 21:04] jghub commented on #963
@cschuber

thanks for this clarification of the situation. I seem to recall @saper arguing for maintaining the full AST code rather than only ksh during the discussion in #1466 (I believe?) but was not aware that he maintains ast-ksh at FreeBSD (I remember not so long ago, FreeBSD users telling me that they were not happy since they could not "avoid" ksh2020 because it had replaced 93u+ in the Fre

[2020-02-21 22:27] jghub commented on #963
@matvore:

I like that picture of "local maxima". it describes the situation rather nicely. and it is correct that ksh93u+ is the result of a decade long search for the optimum. to stay in that picture: ksh93v- also strayed away from the ksh93u+ maximum in search of a "higher peak". which search korn et al. were not able to complete. and ksh2020 than strayed further away from the already "less opt

[2020-02-21 22:53] marcastel commented on #963
@gordonwoodhull thank you for your conciliating and logical approach. May I ask you one more favour: return to a clean state. The state at which AT&T support for AST developments were ended. 2012 was the end year. No teams are needed, no wikis, no projects, no releases or anything else. And despite losing knowledge and information, even issues should be zapped given the appalling image they promot

[2020-02-21 22:54] siteshwar commented on #1466
@aweeraman @cschuber @saper @ryandesign @floppym @kekePower

fwiw I will share my opinion as a package maintainer.

The people who are leading "ksh-community" effort lack the ability to take this project in any meaningful direction. If you read back history of this repository, these people were mostly involved in flame wars, or sharing vague ideas. Besides their technical incompetence, as much as

[2020-02-21 23:11] jghub commented on #1466
@aweeraman @cschuber @saper @ryandesign @floppym @kekePower:

yes, by all means, please do. seriously.

@siteshwar:I would have expected you to be a more sober and rational person, capable of a rational  reassessment of the state of affairs. well...

[2020-02-22 01:12] cschuber commented on #963
Prior to my involvement FreeBSD never had 93u. The latest was based on a couple of files it fetched from www2.research.att.com. I don't recall what version they were. They may have been 93v.

To my knowledge the only person to raise this issue was @saper. OTOH updating ksh93 to the development here addressed a couple of segfaults.

I'm working out a plan true up the existing ksh93* ports. The ksh2

[2020-02-22 01:47] gordonwoodhull commented on #963
@marcastel, sure, but in good time. The wiki has already been moved. Some day down the line, once discussion has died down and new communities formed, we will officially archive this repo and close it for comments.

I am waiting to see if ksh2020 starts a new fork and wants to transfer issues. Ditto for releases.

I take it ksh-community does not want to transfer any issues, even if they pertain t

[2020-02-22 01:56] floppym commented on #1466
Thanks for the ping. As a distro package maintainer myself, I really just need something that actually compiles. If another fork happens and someone actually makes it buildable, just ping me if you would like my help getting it included in Gentoo Linux.

[2020-02-22 06:56] cschuber commented on #1466
A quick question. master is now almost equivalent to 93u. However looking through the log 93v is newer. Why was the repo rewound back to 93u instead of 93v?

tag 93u
Tagger: Kurtis Rader <krader@skepticism.us>
Date:   Sat May 19 08:29:17 2018 -0700

AT&T AST release of version ksh93u+ to Github

commit e79c29295092fe2b2282d134e2b7cce32ec9dcac (tag: ksh93u, tag: 93u)
Author: Siteshwar Vashisht <sva

[2020-02-22 08:03] jelmd commented on #1466
grep -- '--- Release' lib/package/*.html

A trailing dash ('**-**') means beta ...

[2020-02-22 10:40] jghub commented on #1466
@cschuber
long version (@jelmd should correct me where I get the details wrong): 93v development had to be aborted by the ATT team around D. Korn which had to leave in 2013(?). 93v- was published as a last resort in 2014 and then dgk et al had to give up on the code base completely.

93v- for a time was adopted by repos but most/all(?) noted rapidly the remaining massive problems (stability, sever

[2020-02-22 11:47] jghub commented on #963
@gordonwoodhull

as far as keeping the information is concerned, quite to the contrary, I'd say. there is important information buried in the issues history that is relevant to ksh93u+ one way or another. e.g., to compile and address a list of bugs reported (closed or open) for ksh2020 that also apply to ksh93u+ because they reflect ksh93v- bugs inherited from ksh93u+.

so the information should i

[2020-02-22 19:27] saper commented on #1460
The reason to abuse `.sh.subscript` might be that it is probably not used in the context of editing (only withing disciple functions). I don't know why it is needed here - a kind of global variable? I don't know also why it is difficult to introduce something under a different name to fill this role.

Regarding the use of the `tput` command: it is easier to do than to try to figure which curses li

[2020-02-22 20:04] saper commented on #1472
I could not reproduce this with my FreeBSD ksh93v-

but I have checked on Solaris 11.3 and I get the following behaviour:

[code]

While it is pretty strange to get that shell code dumped out after pressing Ctrl-C, I press Enter after this is the shell command exists normally.

[2020-02-22 20:08] saper commented on #1472
Ah, that funny code is my default Solaris `PS1`:

[code]

[2020-02-22 20:12] jghub commented on #1472
@saper

a) you might need to notify @rphaniram explicitly since he closed the issue due to my initial reply.

b) you used Version JM 93u 2011-02-08,  so that is pre-ksh93u+, no?

c) I just verified that on OSX with ksh93u+ 2012-08-01 nothing "special" or strange happens. indeed I just cat PS1 prompts (not their source code ;)) after Ctrl-C until I hit Ctrl-D at which point the shell exits normally

[2020-02-22 20:19] jghub commented on #1472
@rphaniram
on rereading your original post regarding not being able to get out of the here document with ^C:
actually you need just to type ^D (Ctrl-D) i.e. the canonical "end of input" control sequence. that gracefully terminates the here document. question: does that already solve your problem?

[2020-02-22 20:44] saper commented on #1472
I think the original issue is about `/tmp` filling up with unfinished here documents, I could not reproduce this neither on BSD nor on Solaris, despite playing with the prompts. (I think @rphaniram gets notified anyway)

[2020-02-22 21:20] jghub commented on #1472
yes, but he experienced this when not being able to quit the HERE document (presumably because missing to hit ^D and trying to get out with ^C) and then something went wild, no? my question was, whether he can get out of that situation with ^D (and avoiding ^C, possibly) etc.

regarding notification: no regular git(hub) user here, so not sure. I thought it depends on your settings  etc. but whatev

[2020-02-22 21:22] saper commented on #1472
Maybe something catches `SIGINT` or there is something funny in the terminal settings (`stty -a`)... we definitely need more info *and* we do not support Solaris :)

[2020-02-22 21:25] saper commented on #963
I am not sure it is terribly relevant here, but here it is:

https://svnweb.freebsd.org/ports/head/shells/ast-ksh/Makefile?r1=495520&r2=499547 switched from ksh93 2012-08-01 (which is tip of the `ksh93u` branch here) to ksh93 2014-12-24 which is `ksh93v-`).  2016-01-10 version is one commit ahead but somewhat the version number has not been changed everywhere in the code.

This fixed https://bugs.

[2020-02-22 21:31] jelmd commented on #1472
Why not?

You may use the following dtrace script to dive deeper:
[code]
Anyway, step-by-step we get the [ksh-community](https://github.com/ksh-community) running, and than we'll be happy to work on it in the [ksh](https://github.com/ksh-community/ksh) repository.

[2020-02-22 21:38] saper commented on #1472
What I mean by "we do not support Solaris" is "we do not really know what code is running as ksh93 on closed source Solaris releases done by Oracle".

Of course mainline ksh93 should run and be tested on Solaris as well.

[2020-02-22 21:39] jghub commented on #963
@saper
thanks for bothering. I believe getting all the pieces from everywhere together is valuable...

questions:

1. "ksh93v+" is a typo and you still mean 93v-, right?

2. that example should read `a() { b; }`, correct? if yes this runs fine here on OSX (unspectacularly, though ;))

3. the "multiple patches" would be good to know in more detail. I presume they then should be backported (where ap

[2020-02-22 21:39] jelmd commented on #1472
Basically we know, because Oracle dumps it on its github repos ;-)

[2020-02-22 21:49] jghub commented on #1472
@jelmd: @saper already *had* the link to  [ksh](https://github.com/ksh-community/ksh) and secured the price for opening the first issue there. not that we are really open for business, yet... :)

[2020-02-22 21:51] saper commented on #963
Since this bug got hijacked to general comments about ksh93 future here is what I would like to do:

* Be able to provide further ksh93 date-based release (like I tried in https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=211164 ) so that we can incorporate patches floating around:
  * I have already lots of ksh93v patches at https://svnweb.freebsd.org/ports/head/shells/ast-ksh/files/
  * I have s

[2020-02-22 22:08] saper commented on #963
Yes, fixed.

No, see the original bug report. It should be `a() { b }`

Linked in the next comment: https://svnweb.freebsd.org/ports/head/shells/ast-ksh/files/

Reading the specification those builtins should be active only if /opt/ast/something is on the `PATH`.
 As I have started to analyze the code I started to believe this is a simple macro bug so that should not be treated as the desired beha

[2020-02-22 22:09] jghub commented on #963
thanks for your thoughts and the provided links. it seems that you'll resonate well in several respects with @marcastel  and @dannyweldon if I am not mistaken.

personally, I believe ksh93v- has to wait and one should not stumble into a situation similar to ksh2020. in the longer run: maybe. I also agree that 93v- has interesting new features (but essentially all of them did not quite work etc.).

[2020-02-22 22:10] saper commented on #963
Is there any list of issues with ksh93v vis-a-vis ksh93u?

[2020-02-22 22:11] jghub commented on #963
really? don't get it: that just throws an (to be expected, I'd say) syntax error with 93u+ at least

[2020-02-22 22:12] cschuber commented on #1466
Thanks for the explanation.

I have updated the ksh93 and ksh93-devel ports in FreeBSD, only in my git tree so far, to 93u and to the head of master, respectively, to reflect the change and will git svn dcommit the commits later today or tomorrow. We still have ksh2020 which I hope to track ksh-community with. And ast-ksh, maintained @saper, which  will continue to provide 93v-, unless he chooses

[2020-02-22 22:12] cschuber commented on #1472
A couple of points:

I'm not able to reproduce this on ksh93u nor on ksh2020 on FreeBSD-current.

You might want to look at the illumos source, which I think might still be close to Oracle's base. Though I'm not familiar with that part of their tree, I doubt illumos have touched that since Sun open sourced it and it's unlikely Oracle has either.

[2020-02-22 22:12] saper commented on #963
It did dump core instead on our 93u+. FreeBSD uses high addresses on the heap which are sometimes easier to find bugs.

[2020-02-22 22:12] jghub commented on #963
the 93v- vs. 93u+ (I would insist on the minus and plus ;)) list remains to be done. maybe datamining the present repo's history could be a starting point (by testing all reported issues etc.)

[2020-02-22 22:13] jghub commented on #963
ok. understood

[2020-02-22 22:16] jelmd commented on #1472
The illumos base is far far behind. Oracle's is based on the last stable version, i.e. 2012-08-01 + patches.

[2020-02-22 22:29] jghub commented on #1466
@cschuber

understood. thanks for the update.

maybe you get this wrong: ksh2020 is currently only available on the respective branch in the present repo and I don't know whether the ksh2020 authors change their mind and actually do fork and go on with their work (so far they both unfortunately seem instead to prefer to invest their time  trying to harm ksh-community with their recent postings in

[2020-02-22 22:34] jghub commented on #963
also @bitstreamout might have an opinion here?

[2020-02-22 23:22] cschuber commented on #963
The original PR did not use a semicolon. I just tested this on ksh93u on FreeBSD-current. I cannot reproduce it.

slippy$ pkg info -I ksh93
ksh93-93.u_1,2                 AT&T KornShell 93
slippy$ ksh93 foo.ksh
foo.ksh: syntax error at line 4: `{' unmatched
slippy$ cat foo.ksh
a() { b }

a
slippy$

Without a semicolon it still works fine.

slippy$ ksh93 foo.ksh
foo.ksh[1]: b: not found [No such fi

[2020-02-23 04:20] orbea commented on #963
Originally it was to point out that a required preliminary step for fixing this bug is to undo this mess, but its long since lost the plot so its time to close this issue as "won't fix".

RIP

[2020-02-23 04:20] #963 closed

[2020-02-23 04:43] cschuber commented on #1466
I know it's in a separate branch. FreeBSD ports will fetch a github hash/tag/branch. The ksh2020 port lists the ksh2020 branch. The magic is in the secret sauce.

I will point it to ksh-community when it becomes active or delete it if ksh-community never takes off. For now it points to the ksh2020 branch.

[2020-02-23 14:24] marcastel commented on #963
@gordonwoodhull .. sorry for the late reply :-)

Obviously we do not want to lose any information... I made the wrong assumption this was trivial.

We need you support for the authorisation workflow. Can I discuss this further with you offline (by email) ?

[2020-02-23 14:36] gordonwoodhull commented on #963
I’m not sure what you mean, but yes, of course - my email is in my profile.

[2020-02-24 12:48] siteshwar commented on #1466
I am keeping a backup of changes me and @krader1961 had done in [this](https://github.com/ksh2020/ksh) repository. I don't plan to actively work on it, however.

[2020-03-05 18:36] brano-tichy opened #1474 ""cannot execute [Exec format error]" on cygwin64"
ksh93u+ (`Version AJM 93u+ 2012-08-01`) compiled from source on cygwin64
`CYGWIN_NT-10.0 WSHQ1803 3.1.4(0.340/5/3) 2020-02-19 08:49 x86_64 Cygwin`
behaves exactly like bug described in RELEASE:

the error code is 126
setting `CCFLAGS=-D_AST_no_spawnveg=1` helped

also `lib\libast\path\pathnative.c` relies on `cygwin_conv_to_win32_path` which is not supplied, i had it replaced with `cygwin_conv_pat

[2020-03-05 19:44] jghub commented on #1474
@brano-tichy:
FYI, the att/ast team is not actively developing/maintaining ksh93. but it has recently rewound this repo to ksh93u+ since previous development by external committers in the last 2-3 years had led to an undesirable situation. background is in #1466 and #1464 (and elsewhere in the issue history...).

however a community initiative has just started (a couple of weeks ago) to maintain a

[2020-03-06 08:45] brano-tichy commented on #1474
thanks for the heads-up, i posted the issue there.

[2020-03-06 08:45] #1474 closed

[2020-03-21 17:24] nickpapadonis opened #1475 "Ctrl-B and Ctrl-F produces unexpected results in Emacs mode"
1.  Tested in ksh93 and ksh88

2. On prompt type
(A)

3. Your cursor is now to the right of )

4. Type
<Ctrl-B>

5. Your cursor is now over the A

6. Type \, the result should now look like
(A\)

the cursor is over the right paren.

7. Type
<Ctrl-B>

8. This appears on the screen
(A^B)

this does not appear correct to have ^B shown

9. Goto step 2, try <Ctrl-A> for step 8, same behavior

There is

[2020-03-24 09:42] jghub commented on #1475
FYI, the present repo is no longer under active development. please have a look at #1466 (and the larger part of #1464 referenced from there) regarding the details and background why the ksh2020 line of development has been stopped here (and AFAIK is stalling now and not taken elsewhere). my personal view is that this decision by the ATT team was a good one.

a few people have recently started [ks

[2020-03-24 15:48] nickpapadonis commented on #1475
Is there another bug system to use?

[2020-03-24 16:01] jghub commented on #1475
https://github.com/ksh-community/ksh/issues would be the new issue tracker. as said, things might/will take some time to get going (first priority is to make it build again everywhere (including OSX, e.g.) and to do patch integration). but  we seriously want to make it a success and a viable new upstream for distros/package maintainers.

[2020-03-24 16:02] nickpapadonis commented on #1475
Is there a plan to migrate the bug to the new github system?  or should each owner do it individually?

Thanks

[2020-03-24 16:10] jghub commented on #1475
this whole repo including the issue history has been archived to ensure that the issue history is guaranteed to be accessible as reference in the future (but I am sure the ATT/AST team will also take care that this repo/project will remain accessible  at least as a github  archive.

but there is not plan/intent to *import* the "old" issues into the new project for the simple reason that ksh2020 wa

[2020-04-09 14:50] earlchew opened #1476 "Function scoped variable should retain its last value in while-loop body"
Description of problem:
When a function scoped variable is set in the body of a while loop, the variable appears to lose the value when the loop is restarted.

Ksh version:

    # print -v .sh.version
    Version AJM 93u+ 2012-08-01

How reproducible:
Easily reproduced from console. The output from dash, and bash, is less surprising:
[code]

Steps to reproduce:
[code]

[2020-04-09 16:22] marcastel commented on #1476
Using an alternate value in KornShell is not `${parameter+word}` but `{parameter:+word}`.

The following should achieve what you are expecting (both in KornShell and Bash).

[code]

That is an empty line followed by 9 lines with 1 `x` -- assuming the default for `head(1)` on your platform is 10.

BTW. Please read also @jghub's comment in #1475 about this repo.

[2020-04-09 19:02] earlchew commented on #1476
@marcastel Thanks for the feedback, and I appreciate the suggested workaround.

[2020-04-10 02:45] jelmd commented on #1476
Well, your script works as expected: you set X=1 and echo the contents of another var named `X++`. Since you never set the value of this var, it is empty - you get, what you are asking for.
dash is obviously buggy wrt. the output of the script.

[2020-04-21 07:43] samliddicott opened #1477 "printf %q broken with size specifier"
korn man page printf section says:
    %q     A %q format can be used instead of %s to cause the resulting string to be quoted in a manner than can be reinput to the shell.

$ printf '%q\n' "a'b"
$'a\'b'

$ printf '%.2q\n' "a'b"
$'

definitely not suitable for re-input to the shell.

GNU Coreutils printf %q refuses to accept size specifiers for %q:
$ /usr/bin/printf '%.2q\n' "a'b"
/usr/bin/printf:

[2020-04-21 12:14] jghub commented on #1477
first of all, this repo is no longer under active development,  please see #1475 for a possible longterm alternative where to raise ksh issues in the future.

but to answer your question here nonetheless:

1. I would agree that primarily `%q` is only useful and makes sense w/o a width qualifier.

2. bash  accepts the width qualifier just like ksh (but the output format is different, omitting the `

[2020-04-21 13:07] jelmd commented on #1477
The output is correct, w.r.t what gets requested: max. 2 byte of the string to be printed (`$'a'b'`).

[2020-04-21 13:09] jghub commented on #1477
sure. the question is "bug or feature" considering the declared purpose of the %q format -- that was the point the OP made.

[2020-04-21 13:19] jelmd commented on #1477
**q** refers to **Quoted** string, **s** to **String**, **d** to **Decimal**, ... Format  specifiers are optional, allows one to *format* alias mangle the related operand. If one says, "I want max. 2 bytes of it", ksh just follows standards and prints not more than 2 bytes of it. Nothing wrong here.

[2020-04-21 13:27] jghub commented on #1477
as said, I tend to agree but it remains matter of taste. and as the OP pointed out, gnu coreutils decided to handle it differently, seemingly (not tested myself)

[2020-04-21 13:45] jelmd commented on #1477
GNU tools, bash, ... - did they ever read any specs before implementing things [halfhearted] ? ;-)

[2020-04-21 13:48] jghub commented on #1477
good point. let's leave it at that :)

[2020-04-28 14:38] kloczek opened #1478 "2020.0.0: test suite is failing"
[code]

[2020-04-28 15:46] jelmd commented on #1478
FWIW: This is an unsupported, experimental, discontinued version.

[2020-04-28 17:04] kloczek commented on #1478
Bu that is latest version.

So which one should I use?

[2020-04-28 17:31] gordonwoodhull commented on #1478
Please see #1466 for an explanation of what happened with ksh2020.

This repo only provides the AT&T-released versions, specifically ksh93u+, and is only minimally supported. I don't know if ksh2020 is actively supported or not.

You need to search for forks of this repo to find active support.

[2020-04-28 17:31] #1478 closed

[2020-04-28 18:37] kloczek commented on #1478
So it means that ast ksh is dead?? .. I do not understand why it happened and all changes have been moved to branch. Some legal reasons?

[2020-04-28 19:26] jghub commented on #1478
@kloczek: as @gordonwoodhull said, please read up on the reasons in #1466 and links therein. ast ksh definitely is *not* dead. ksh2020 just went off in an ultimately different direction and has stalled since (AFAIK).

maybe also look at

https://github.com/ksh-community

which aims at maintaining ksh93 proper in the future. so if you see a bug in ksh93u+ (not in ksh2020 alone...), please report it

[2020-05-01 12:34] kloczek commented on #1478
Still I do not understand cureewnt situation.

A lot of good work on the code has been done and now all that looks like have been  rolled back on master.

[2020-05-01 16:00] gordonwoodhull commented on #1478
I feel that I have explained this. Please read the other issues for more info.

Yes, we rolled back master on this repo. If you want ksh2020 you could look at [this form of the repo](https://github.com/ksh2020/ksh), as linked in #1466 (which I guess you still have not read).

[2020-05-06 08:06] stephane-chazelas commented on #837
Note that it's even more annoying for `builtin --man` or `builtin --nroff`. To get the man page of a builtin with a pager, you need something like:

[code]

Or (to get proper roff formatting):

[code]

[2020-05-06 15:59] stephane-chazelas opened #1479 "ksh: command substitution doesn't include the output of non-waited-for child processes"
That's a regression since ksh93u+. Here tested with ksh2020 on Ubuntu 20.04.

[code]

That's missing `after`.

Note that it also applies to the `${ cmd; }` form of command substitution.

It looks like that's because ksh switched to using temporary files instead of pipes to retrieve the output of commands in command substitutions.

As a result it cannot know when the spawned commands have finished

[2020-05-06 16:21] jghub commented on #1479
I have these remarks:

1. I can confirm it is a regression introduced after ksh93u+ (which does the right thing here AFAICS in a quick test)

2. the present repo is no longer under active development. please read up on background in #1466 and further issues referenced  therein.

3. if you are interested in ksh93 and encounter bugs in ksh93u+ (rather than ksh2020) you might consider to report them

[2020-06-04 05:31] McDutchie commented on #1357
A fix for this issue is now in my ksh 93u+m bugfix branch. For a full explanation, expand the commit referenced immediately above this comment (ffe5df3).

[2020-06-07 18:23] sunchill06 opened #1480 "write package as an rpm (/bin/pacakge make)"
Hi @lkoutsofios

How can I use /bin/package to write the ksh package as an rpm?

There are no examples given?

[2020-06-08 00:47] lkoutsofios commented on #1480
hi,

there's no automatic way to do it.
you could use bin/package to first build the binaries,
then package write to make binary packages for INIT and ast (or ksh
specifically),
then use the .tgz files generated to make an RPM.
you would need to write the RPM spec.

it's a similar mechanism if you want to include the ast software in a
container.

lefteris

On 2020-06-07 14:23, sunchill06 wrote:

[2020-06-08 02:26] sunchill06 commented on #1480
Thanks for responding. I tried package write but somehow it fails. I did package write rpm, but it fails.

How to execute package write, any examples?

Appreciate your help.

[2020-06-08 03:55] sunchill06 commented on #1480
For more information:
Initially I ran package make, this created all the binaries inside **arch/linux.i386-64/bin**

Now my intention is to create an rpm out of this. So I ran package write, but it gives me this error:

**package: binary or source operand expected**

How to get around this?

[2020-06-08 14:37] lkoutsofios commented on #1480
I think this will work:

./bin/package write base binary INIT ast

then in ./lib/package/tgz you should see files like these:

INIT.2020-06-08.linux.i386-64.md5
INIT.2020-06-08.linux.i386-64.tgz
INIT.linux.i386-64.tim
PACKAGE.linux.i386-64.lst
ast.2020-06-08.linux.i386-64.md5
ast.2020-06-08.linux.i386-64.tgz
ast.linux.i386-64.tim

On 2020-06-07 23:55, sunchill06 wrote:

[2020-06-08 17:17] sunchill06 commented on #1480
Thanks a lot, it worked. Though it did not have ksh binary.

Will this be the command for generating ksh tar?
./bin/package write base binary ksh ast

[2020-06-09 14:46] lkoutsofios commented on #1480
if ksh was built it should be in the .tgz tar file.

you can use package to generate a .gz of the ksh binary with the command
./bin/package write base binary ksh
but that is just the ksh binary compressed, not very useful.

On 2020-06-08 13:17, sunchill06 wrote:

[2020-06-12 14:10] McDutchie opened #1481 "Please fix invalid use of memccpy() on master"
The official AST master branch should at the very least fix a blatantly invalid use of `memccpy()` on potentially overlapping buffers in the commonly used library function `sfputr()`. See #78. The fix can easily be cherry-picked from commit dda258b6.

On the Mac, this makes various crashes magically vanish.

[2020-06-12 14:12] gordonwoodhull commented on #1481
This repo is inactive - please see #1466 and https://github.com/att/ast/issues/1464#issuecomment-581159703 onward.

Please search the web for a maintained version of ksh2020 or ksh93.

[2020-06-12 14:14] McDutchie commented on #1481
I'm well aware. I think you should make an exception for this one. It's such an easy fix and it solves various crashes.

[2020-06-12 14:20] gordonwoodhull commented on #1481
Sorry, didn't recognize you.

Thanks for linking to your active repo - that's one of the reasons we are not archiving this one.

[2020-06-12 14:25] lkoutsofios commented on #1481
I'll make the change.
I have a couple other fixes too.

lefteris

On 2020-06-12 10:21, Gordon Woodhull wrote:

[2020-06-15 09:22] cassioneri commented on #73
The following seems another manifestation of this bug which, through an extra level of indirection, makes assignments in subshells to affect unset variables in the parent shell:

[code]
As mentioned by @McDutchie in https://github.com/att/ast/issues/73#issuecomment-384522134 and https://github.com/att/ast/issues/478#issuecomment-382210359 the following are known workarounds. Replace the definition

[2020-06-15 09:42] McDutchie commented on #73
Hi @cassioneri , thank you for that report. This AT&T repo is no longer active, but the (to the best of my knowledge) only  actively and openly developed fork of ksh93 is at https://github.com/ksh93/ksh -- with much of this bug already fixed, but sure enough, your test script exposes another bug that's not fixed yet. Would you mind opening an issue there, please?

[2020-06-15 10:12] cassioneri commented on #73
@McDutchie. Will do.

[2020-06-15 22:00] McDutchie commented on #73
Now that I'm here, I'd like to give belated thanks to @kernigh for the [parser fix](#issuecomment-384840196) and to @stephane-chazelas for the [reproducers](#issuecomment-384178095), both of which I've incorporated in what is, to the best of my knowledge, currently the only actively and openly developed fork of ksh93. It's based off the "stable" 93u+ 2012-08-01 version (which might be the least bu

[2020-07-05 19:10] McDutchie commented on #1481
Done in d2771913c9b5b81a7e53fc6f164a5fd91643cb85.

[2020-07-05 19:10] #1481 closed

[2020-07-27 04:48] stevej098 opened #1483 "MacOS compiling libast"
I mainly use OS/X & since 2017 have been, on and off, trying to build the AST library to experiment with pzip & friends.
I've not been able to build lib/libast needed to build nmake, which is needed to build the rest.

OS vers:

     steve$ sw_vers -productVersion
     10.14.6

I've got homebrew & tried with ggc-9 as well as default clang. both throw the same errors.

Initially I cloned the master

[2020-08-16 13:01] McDutchie commented on #1048
For the record, this bug is now fixed in [ksh 93u+m](/ksh93/ksh). See https://github.com/ksh93/ksh/commit/acf84e9633f03b10da7d674773ca831dc4b9d88e.

[2020-08-16 16:53] jelmd commented on #1048
@McDutchie - Not handling any errors and returning an "unexpected" code seems not to be correct. So IMHO this commit smells.
BTW: Are you sure, that this is only used with "command -x ..."? Furthermore: If you think, that the alignment fixes the problem, why is changing the context of the call needed at all?

[2020-08-16 20:02] McDutchie commented on #1048
What makes you think it's not handling any errors? Not handling any errors is precisely what it did before this commit. An infinite retry loop was the result.

Yes.

Sorry, but I have no idea what you're talking about. No "context" has been changed, whatever that means.

[2020-08-19 00:02] jelmd commented on #1048
@McDutchie

Hmmm, IMHO it is pretty obvious: the removal of [line 1244](https://github.com/att/ast/blob/master/src/cmd/ksh93/sh/path.c#L1244) and not adding something, which takes care of it.

You are _completely wrong_ here. As anyone can see, the error handling happens between  [line 1173 .. 1240](https://github.com/att/ast/blob/master/src/cmd/ksh93/sh/path.c#L1173). It might not catch everythin

[2020-08-20 07:45] Saikiran-m opened #1484 "${$} throwing syntax error when use in cat << EOF on ksh93 93u+ ."
Solaris 11 that ship with ksh93, the following behavior is observed:

Version of ksh93 on system:
~# ksh --version
  version         sh (AT&T Research) 93u+ 2012-08-01

The issue:
echo ${$} working fine but echo ${$} throwing syntax error when use in cat << EOF.

Recreation steps followed below:
Case 1: with $$
:~# echo $$
1323
:~# cat << EOF

1323

Case 2 : with ${$}
:~# echo ${$}
1323
:~# cat <<

[2020-09-30 20:47] xmnboy opened #1485 "Use of >/dev/null 2>&1 in called function causes "Abort(coredump)""
**Description of problem:**
Use of `>/dev/null 2>&1` within a called function causes function to terminate with an `Abort(coredump)` message.

**ksh version:**
`Version A 2020.0.0`
[code]

**Linux distribution:**
[code]

**How reproducible:**
Discovered in a sourced script, but also reproducible within an executed script. No such problem with `ksh93` version of `ksh` or with `[lm]ksh` fork. Not su

[2020-09-30 21:55] DavidMorano commented on #1485
Hi @xmnboy

Thanks very much.  I will take a look at this.
I think that I may be the only active developer on KSH2020 right now and it might take me some time to get to this.
But thanks anyway.  And thanks for your testing of KSH2020 at all.  There are other branches of KSH that are also being (somewhat) bug fixed currently.  A search of the web (or GitHub) should find these.  Some are more active

[2020-09-30 22:20] DavidMorano commented on #1485
Hi @xmnboy (Paul),

Just to let you know, I have reproduced your bug exactly in my own development environment, including that "invalid pointer" message.  I think that I fixed a bug in the "redirection" code already, but this new bug could be anywhere.  I have not done a deep dive into it yet.  But due to my schedule, it may be quite some time before I can get to this.
But thanks very much again f

[2020-10-01 18:52] DavidMorano commented on #1485
Hi @xmnboy (Paul),

Please send me your email address (to 'morano@ieee.org') if you would like a work-around (and other information) for this bug.

[2020-10-08 20:38] xmnboy commented on #1485
Hi @DavidMorano,

No need for a workaround. I came up with an alternative approach to what I was trying to do that side-steps the bug. Thanks for taking the time to confirm that the bug is real. 😄  I don't recall precisely what I did to side-step it (this has been a very busy few months), I'd have to go back and look at the script's git history; if you want the workaround, when I get some time, I

[2020-11-16 15:38] haitang002 opened #1486 "The subshell does not recognize the path path."
Here is the use case

cd /root

vi k.sh
#!/bin/ksh
export PATH=.:$PATH:/root/mybin
cur = $(cd /root/mybin; pwd)

ls
------

cp /bin/ls /root/mybin

This shell script will not be able to execute the last ls; not found ls;
When you comment out the cur line, you can find ls

But there is no problem with this branch: https://github.com/ksh-community/ksh

[2021-01-17 10:22] ko1nksm commented on #1160
Perhaps this is the code to reproduce this Issue. The problem occurs when the total size of the function defined by `eval` exceeds 8KB. This is reproduced even when two 4KB functions are defined. Confirmed with ksh 2020 on Ubuntu 20.04.

[code]

output

[code]

[2021-01-17 14:22] ko1nksm commented on #1160
Workaround

[code]

output

[code]

[2021-01-19 05:10] McDutchie commented on #1354
For the historical record, it looks like this bug was fixed in ksh 93u+m as a fortunate side effect of https://github.com/ksh93/ksh/commit/970069a6feb71424f4a98b9f3005181eeaa1c448 which backports two Red Hat patches. (Sure enough, the CentOS (Red Hat) version of 93u+ doesn't have the bug either, whereas the Debian version of 93u+ does.)

[2021-01-19 05:10] #1354 closed

[2021-02-23 07:43] ScottRochford opened #1487 "Process substitution includes extraneous spaces in file descriptor"
[code]

This breaks things like `tar ... --files-from=<( command )` because the space separates the long option from its parameter.

I would have checked whether this bug is present in a more recent version, but I haven't had the time to follow everything in https://github.com/att/ast/issues/1466 and figure out which versions this could or should be fixed in.

[2021-02-23 20:02] DavidMorano commented on #1487
Thanks for posting this problem.
I will try to investigate on a later branch ("93v-"), but it might take some time.
There is (slow) background development continuing from this latter branch -- actually from the following later 'ksh2020' branch.
But nothing can be guaranteed as far as published fixes (at least not yet).  Thanks again.

[2021-03-05 23:40] sckendall2 opened #1488 "`a=()` should make `a` an empty array but doesn't"
Here's an example:
[code]
I've duplicated this behavior in Version AJM 93t+ 2010-02-02 in RHEL 5.7 and in Version AJM 93u+ 2012-08-01 (rpm ksh-20120801-252.el8.x86_64) in RHEL 8.0.

The ksh93 man page has a construct _varname_=(_assign_list_) but does not specify the meaning of an empty _assign_list_. I think it's safe to say, though, that the result we see -- a one-element array with element zero

[2021-03-06 00:27] hyenias commented on #1488
ksh93u+ defaults` a=();` to a compound variable. For insights try issuing a `typeset -p a` and see [KSH93 Compound Variables](https://blog.fpmurphy.com/2009/01/ksh93-compound-variables_05.html).
[code]

[2021-03-06 02:33] sckendall2 commented on #1488
@hyenias, thanks for pointing that out. I think it's an unfortunate feature that `a=()` produces a compound variable. But it's been this way a long time, and I'm not going to argue that it should be changed.

[2021-03-06 02:34] #1488 closed, assigned to nobody

[2021-03-20 22:32] posguy99 opened #1490 "$EDITOR"

[2021-03-20 22:33] #1490 closed, assigned to nobody

[2021-07-04 19:38] DavidWHodgins opened #1491 "man page uses incorrect pipe character, "⎪" xE28EAA instead of "|" x7C"
Noticed by a Mageia user and reported as https://bugs.mageia.org/show_bug.cgi?id=29214

The error is in line 109 of https://github.com/att/ast/blob/master/src/cmd/ksh93/sh.1 and likely repeated on other lines.
The man page uses incorrect pipe character, "⎪" xE28EAA instead of "|" x7C.

[2021-08-15 22:40] lkujaw opened #1493 "Please consider relicensing AST under the EPL-2.0 with the GPL compatibility clause"
Hello,

I was wondering if you would please consider upgrading the Eclipse Public License from version 1.0 to 2.0, along with the new (optional) GPL compatibility clause of the latter. Some projects that depend upon or embed the Korn Shell, such as the Common Desktop Environment (CDE), have been released under GPL-compatible licenses, and explicit permission from AT&T to combine these works would

[2021-08-25 06:45] sowmya573 opened #1494 "ksh93u+ dumps core when fds >32"
I have an application which invokes multiple ksh93 scripts and ,where each script might call other and it goes on... and most of the commands are run in subshell enviroment with pipe.
ex: $(echo "file1 file2 file3" | grep "file1").

So in a particular situation, application is dumping core in sfsync.
After some investigation, I could see that in sh_subtmpfile, "fcntl" call returns fd as "99". But

[2021-11-04 00:34] McDutchie commented on #1494
Hi there, this repo is inactive and AT&T stopped working on ksh93 years ago. My own ksh93 community fork [ksh 93u+m](https://github.com/ksh93/ksh) has many subshell-related and I/O-related bugs fixed. Could you try building that and see if that fixes the bug? Also, if you get any build errors please let me know – I lost access to any possibility to test on AIX some time ago.

[2021-11-04 00:41] McDutchie commented on #1491
This is one of hundreds of bugs fixed in [ksh 93u+m](https://github.com/ksh93/ksh), the only ksh93 fork that's currently under active and open development. Please consider testing the latest code from there. This AST repo is inactive and AT&T will no longer work on it.

[2021-11-04 00:43] McDutchie commented on #1484
For anyone else reading: This is fixed on the [ksh 93u+m](https://github.com/ksh93/ksh) fork.

[2021-11-19 01:14] tailhook46 commented on #1470
Where is the place, where I can download Kornshell93?

[2022-01-26 12:26] mkde1 opened #1495 "building with Cygwin instead of NMAKE"
Please provide a command list for Cygwin users. "bin/package make" doesn't work for Cygwin.

[2022-01-26 15:44] McDutchie commented on #1495
AT&T has abandoned development on this repository. Please use https://github.com/ksh93/ksh instead, that is where current development is happening and we've fixed it to build on Cygwin as well.

[2022-01-26 17:59] mkde1 commented on #1495
Thanks for the reply and information.

[2022-01-26 17:59] #1495 closed, assigned to nobody